Test MQTT JSON 9 mai 2023/flows_tasmota.json
[
    {
        "id": "b655791fc3a558a8",
        "type": "tab",
        "label": "Tasmota",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8a2015c476a6c37a",
        "type": "mqtt in",
        "z": "b655791fc3a558a8",
        "name": "",
        "topic": "tasmota/BME280/SENSOR",
        "qos": "1",
        "datatype": "json",
        "broker": "8053294be1f1e4f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 740,
        "wires": [
            [
                "9c8441493a04c70a",
                "2a8d864d1eb0f97f"
            ]
        ]
    },
    {
        "id": "a35c7d7d20412932",
        "type": "debug",
        "z": "b655791fc3a558a8",
        "name": "msg.payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 940,
        "wires": []
    },
    {
        "id": "9c8441493a04c70a",
        "type": "debug",
        "z": "b655791fc3a558a8",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 820,
        "wires": []
    },
    {
        "id": "2a8d864d1eb0f97f",
        "type": "json",
        "z": "b655791fc3a558a8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 740,
        "wires": [
            [
                "c9536e95f7e2f77b"
            ]
        ]
    },
    {
        "id": "c9536e95f7e2f77b",
        "type": "function",
        "z": "b655791fc3a558a8",
        "name": "parse BME680 object",
        "func": "const input=msg.payload;\nmsg.payload=input.BME680\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 820,
        "wires": [
            [
                "7878523da57f8f22",
                "6dbef1d29ef378f5",
                "0152dc022ad18966"
            ]
        ]
    },
    {
        "id": "0152dc022ad18966",
        "type": "debug",
        "z": "b655791fc3a558a8",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 660,
        "wires": []
    },
    {
        "id": "7878523da57f8f22",
        "type": "function",
        "z": "b655791fc3a558a8",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 880,
        "wires": [
            [
                "a35c7d7d20412932",
                "7cfa54eb86f19573",
                "6faeb41fecaf447c"
            ]
        ]
    },
    {
        "id": "7cfa54eb86f19573",
        "type": "ui_gauge",
        "z": "b655791fc3a558a8",
        "name": "Temperature",
        "group": "2c2b4346bd029e39",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 880,
        "wires": []
    },
    {
        "id": "6faeb41fecaf447c",
        "type": "ui_chart",
        "z": "b655791fc3a558a8",
        "name": "",
        "group": "2c2b4346bd029e39",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "6dbef1d29ef378f5",
        "type": "function",
        "z": "b655791fc3a558a8",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 760,
        "wires": [
            [
                "7bb2a6eae6c26da4",
                "60c783bdf7dbdd73"
            ]
        ]
    },
    {
        "id": "7bb2a6eae6c26da4",
        "type": "ui_gauge",
        "z": "b655791fc3a558a8",
        "name": "Humidity Gauge",
        "group": "2c2b4346bd029e39",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 920,
        "y": 760,
        "wires": []
    },
    {
        "id": "60c783bdf7dbdd73",
        "type": "ui_chart",
        "z": "b655791fc3a558a8",
        "name": "Humidity Chart",
        "group": "2c2b4346bd029e39",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "8053294be1f1e4f7",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "192.168.0.12",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2c2b4346bd029e39",
        "type": "ui_group",
        "name": "Tasmota",
        "tab": "7043316c59e135d1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7043316c59e135d1",
        "type": "ui_tab",
        "name": "Tasmota",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]