Test MQTT JSON 9 mai 2023/flows_BME680_TMM353.json
[
    {
        "id": "ac1d2ee9283df06a",
        "type": "tab",
        "label": "TMM353",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "46d6808f0813c01f",
        "type": "mqtt in",
        "z": "ac1d2ee9283df06a",
        "name": "TMM/TMM353",
        "topic": "TMM/TMM353",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8053294be1f1e4f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 500,
        "wires": [
            [
                "cf458b214fef4091",
                "89cb85649871a5ed",
                "2cc9f2b95b9e970c",
                "90df129d61cf99ce",
                "56c191f8ac60ba71",
                "51497c96456c12dc",
                "2260169c2f467322"
            ]
        ]
    },
    {
        "id": "cf458b214fef4091",
        "type": "function",
        "z": "ac1d2ee9283df06a",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 460,
        "wires": [
            [
                "bfc78e372d471537",
                "f3ae1b860a4c08c3"
            ]
        ]
    },
    {
        "id": "89cb85649871a5ed",
        "type": "function",
        "z": "ac1d2ee9283df06a",
        "name": "Humidity",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 540,
        "wires": [
            [
                "18b212dfd0077c99",
                "0243e183dd9c14b6"
            ]
        ]
    },
    {
        "id": "2cc9f2b95b9e970c",
        "type": "function",
        "z": "ac1d2ee9283df06a",
        "name": "Pression",
        "func": "const input=msg.payload;\nmsg.payload=input.Pressure\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 620,
        "wires": [
            [
                "f94bafd4a022392f",
                "75e7d4587a3d4cb5"
            ]
        ]
    },
    {
        "id": "bfc78e372d471537",
        "type": "ui_gauge",
        "z": "ac1d2ee9283df06a",
        "name": "Température",
        "group": "861d1534d006d87f",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "18b212dfd0077c99",
        "type": "ui_gauge",
        "z": "ac1d2ee9283df06a",
        "name": "Humidité",
        "group": "861d1534d006d87f",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 520,
        "wires": []
    },
    {
        "id": "f94bafd4a022392f",
        "type": "ui_gauge",
        "z": "ac1d2ee9283df06a",
        "name": "Pression",
        "group": "861d1534d006d87f",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "90df129d61cf99ce",
        "type": "function",
        "z": "ac1d2ee9283df06a",
        "name": "RSSI",
        "func": "const input=msg.payload;\nmsg.payload=input.RSSI\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 700,
        "wires": [
            [
                "34ea8a5b4c56e3e3"
            ]
        ]
    },
    {
        "id": "34ea8a5b4c56e3e3",
        "type": "ui_text",
        "z": "ac1d2ee9283df06a",
        "group": "861d1534d006d87f",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "RSSI",
        "label": "RSSI",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 700,
        "wires": []
    },
    {
        "id": "f3ae1b860a4c08c3",
        "type": "ui_chart",
        "z": "ac1d2ee9283df06a",
        "name": "Chart Température",
        "group": "96d7e7c3aa60f9ca",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0243e183dd9c14b6",
        "type": "ui_chart",
        "z": "ac1d2ee9283df06a",
        "name": "Chart Humidité",
        "group": "96d7e7c3aa60f9ca",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "75e7d4587a3d4cb5",
        "type": "ui_chart",
        "z": "ac1d2ee9283df06a",
        "name": "Chart Pression",
        "group": "96d7e7c3aa60f9ca",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "56c191f8ac60ba71",
        "type": "debug",
        "z": "ac1d2ee9283df06a",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 140,
        "y": 400,
        "wires": []
    },
    {
        "id": "51497c96456c12dc",
        "type": "function",
        "z": "ac1d2ee9283df06a",
        "name": "Nom de salle",
        "func": "const input=msg.payload;\nmsg.payload=input.salle\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 400,
        "wires": [
            [
                "e44f9b774d4061d4"
            ]
        ]
    },
    {
        "id": "e44f9b774d4061d4",
        "type": "ui_text",
        "z": "ac1d2ee9283df06a",
        "group": "861d1534d006d87f",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Nom de la salle",
        "label": "Nom de la salle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "bd1bab7ac95fca02",
        "type": "comment",
        "z": "ac1d2ee9283df06a",
        "name": "BME680",
        "info": "",
        "x": 220,
        "y": 260,
        "wires": []
    },
    {
        "id": "2260169c2f467322",
        "type": "function",
        "z": "ac1d2ee9283df06a",
        "name": "sensorType",
        "func": "const input=msg.payload;\nmsg.payload=input.sensorType\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 340,
        "wires": [
            [
                "14f880f062648dcb"
            ]
        ]
    },
    {
        "id": "14f880f062648dcb",
        "type": "ui_text",
        "z": "ac1d2ee9283df06a",
        "group": "96d7e7c3aa60f9ca",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sensorType",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "7269bb0ae59cb308",
        "type": "ui_spacer",
        "z": "ac1d2ee9283df06a",
        "name": "spacer",
        "group": "82d1223346a7fd22",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "8053294be1f1e4f7",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "156.18.46.123",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "861d1534d006d87f",
        "type": "ui_group",
        "name": "TMM353",
        "tab": "0efbdfd9d8aa12c5",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "96d7e7c3aa60f9ca",
        "type": "ui_group",
        "name": "Charts TMM353",
        "tab": "0efbdfd9d8aa12c5",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "82d1223346a7fd22",
        "type": "ui_group",
        "name": "Charts TMM355",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0efbdfd9d8aa12c5",
        "type": "ui_tab",
        "name": "TMM353",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]