flows_TMM_TPCDI(19-06-2023).json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow complet TMM",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1445711a95136826",
        "type": "tab",
        "label": "Salle 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f78e5d85466c9552",
        "type": "tab",
        "label": "Salle 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c6ffb55d647ec65",
        "type": "tab",
        "label": "M5Stack MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "92bcf8d76f3e94f6",
        "type": "tab",
        "label": "Reyax with Raspberry",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac1d2ee9283df06a",
        "type": "tab",
        "label": "TMM353",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e254f0b5d269d72d",
        "type": "tab",
        "label": "D5_bis-353",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b1ea2afc83fe838",
        "type": "tab",
        "label": "TMM353",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9984146dbfb33aa3",
        "type": "tab",
        "label": "InfluxDB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e40961b1.ad649",
        "type": "tab",
        "label": "Weather",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bf15a4a76dd345f2",
        "type": "tab",
        "label": "Flow complet TMM",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f6a4559307e18ffb",
        "type": "tab",
        "label": "TMM351",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e2bd3bf056aa8726",
        "type": "tab",
        "label": "TMM352",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6cb5a7ae0f969518",
        "type": "tab",
        "label": "TMM353",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b490c4816a62d4de",
        "type": "tab",
        "label": "TMM354",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ca8fc5b7270e3fa1",
        "type": "tab",
        "label": "TMM355",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4a789bbe78fdd9f6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "pi_broker",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8053294be1f1e4f7",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "156.18.46.123",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5c3a4e27.a99f9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "156.18.46.246",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2954565ce6691dd3",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://156.18.46.246:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "373fa459.54e07c",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "WEATHER",
        "name": "Weather",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "53b8c8f9.cfbe48",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6a6a01fbe40bf11e",
        "type": "ui_tab",
        "name": "LoRa Gateway",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "13f01a16d359e988",
        "type": "ui_tab",
        "name": "Page 3",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "069bc0e3cccfdd7c",
        "type": "ui_tab",
        "name": "Salle 353",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0efbdfd9d8aa12c5",
        "type": "ui_tab",
        "name": "TMM353",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "909e39e6d9746c90",
        "type": "ui_tab",
        "name": "Tab 7",
        "icon": "dashboard",
        "order": 6
    },
    {
        "id": "37de8fe8.46846",
        "type": "ui_group",
        "name": "BME280",
        "tab": "53b8c8f9.cfbe48",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "62938f1aa398bb71",
        "type": "ui_group",
        "name": "M5Stack",
        "tab": "13f01a16d359e988",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0ecfa9cd3556116e",
        "type": "ui_group",
        "name": "Node 1",
        "tab": "6a6a01fbe40bf11e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b2071bd26a4f4075",
        "type": "ui_group",
        "name": "BME680",
        "tab": "069bc0e3cccfdd7c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85e8d358e8e66b20",
        "type": "ui_group",
        "name": "TMM355",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "82d1223346a7fd22",
        "type": "ui_group",
        "name": "Charts TMM355",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "861d1534d006d87f",
        "type": "ui_group",
        "name": "Gauge TMM353",
        "tab": "0efbdfd9d8aa12c5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "96d7e7c3aa60f9ca",
        "type": "ui_group",
        "name": "Charts TMM353",
        "tab": "0efbdfd9d8aa12c5",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "58a794c84681c539",
        "type": "ui_group",
        "name": "Gauge TMM355",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8c063e6f77d6358b",
        "type": "ui_group",
        "name": "Charts TMM355",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e02742327bb67ede",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "0efbdfd9d8aa12c5",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "ca5ab451e3912e17",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "909e39e6d9746c90",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "dcdcc01c5731e385",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "909e39e6d9746c90",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "7269bb0ae59cb308",
        "type": "ui_spacer",
        "z": "ac1d2ee9283df06a",
        "name": "spacer",
        "group": "82d1223346a7fd22",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "6a4075fca3a3077a",
        "type": "ui_spacer",
        "z": "5b1ea2afc83fe838",
        "name": "spacer",
        "group": "82d1223346a7fd22",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "c7d6c6334933595e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2fbc36fc2d4e361b",
        "type": "serial-port",
        "serialport": "/dev/ttyAMA0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "ef7641486adfc3c9",
        "type": "mqtt-broker",
        "name": "pi_broker",
        "broker": "192.168.0.49",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e8d3637f5193762d",
        "type": "ui_group",
        "name": "Graphe SHT31",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "db5754a6970b27df",
        "type": "ui_group",
        "name": "Gauge SHT31",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5828d1681d6ea3c",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "1 rue Lino Ventura",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.0.49:8087",
        "rejectUnauthorized": true
    },
    {
        "id": "d986a1e3dfef462a",
        "type": "ui_group",
        "name": "Graphe BME680",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "848a133e5b48c429",
        "type": "ui_group",
        "name": "Gauge BME680",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "68668ff276f408a2",
        "type": "ui_tab",
        "name": "TMM353",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false,
        "info": "Ce sont toutes les données venant du capteur SHT31 de la salle TMM353"
    },
    {
        "id": "2593623ca3948d85",
        "type": "ui_group",
        "name": "Graphes TMM353",
        "tab": "68668ff276f408a2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b74ba331a422064",
        "type": "ui_group",
        "name": "Gauges TMM353",
        "tab": "68668ff276f408a2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a89c50eb8ba19cc2",
        "type": "ui_tab",
        "name": "TMM354",
        "icon": "dashboard",
        "order": 10,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "343b18f1ce5b2643",
        "type": "ui_group",
        "name": "Graphes TMM354",
        "tab": "a89c50eb8ba19cc2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "feeb56b380e4002d",
        "type": "ui_group",
        "name": "Gauges TMM354",
        "tab": "a89c50eb8ba19cc2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4aefd00f94d07dab",
        "type": "ui_tab",
        "name": "TMM355",
        "icon": "dashboard",
        "order": 11,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fc417f65bc9aa55a",
        "type": "ui_group",
        "name": "Graphes TMM355",
        "tab": "4aefd00f94d07dab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d7e3d88e7d580bac",
        "type": "ui_group",
        "name": "Gauges TMM355",
        "tab": "4aefd00f94d07dab",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc6288c372c5dbaf",
        "type": "ui_tab",
        "name": "TMM351",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8f05b88487700780",
        "type": "ui_tab",
        "name": "TMM352",
        "icon": "dashboard",
        "order": 8,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f2c9732c6e37220c",
        "type": "ui_group",
        "name": "Graphes TMM351",
        "tab": "cc6288c372c5dbaf",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f04bc822974acc31",
        "type": "ui_group",
        "name": "Gauges TMM351",
        "tab": "cc6288c372c5dbaf",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5cba7ebfc6512a21",
        "type": "ui_group",
        "name": "Graphes TMM352",
        "tab": "8f05b88487700780",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c89996a7faaa6f3",
        "type": "ui_group",
        "name": "Gauges TMM352",
        "tab": "8f05b88487700780",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "f2cd9d1426c51550",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "TMM/Salle/#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "32716dedb3b5bbf6"
            ]
        ]
    },
    {
        "id": "b8b8578facf9d694",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 520,
        "wires": []
    },
    {
        "id": "32716dedb3b5bbf6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 4",
        "func": "msg.measurement=msg.payload.salle;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 520,
        "wires": [
            [
                "b8b8578facf9d694",
                "14ebc63b25cd3458"
            ]
        ]
    },
    {
        "id": "14ebc63b25cd3458",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "2954565ce6691dd3",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "Salle",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "LTDS",
        "bucket": "SallesTMM",
        "x": 930,
        "y": 720,
        "wires": []
    },
    {
        "id": "2fe3b18d1da07dbf",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Ce sont toutes les salles de TMM",
        "info": "",
        "x": 390,
        "y": 260,
        "wires": []
    },
    {
        "id": "5a45b8da.52b0d8",
        "type": "mqtt in",
        "z": "1445711a95136826",
        "name": "",
        "topic": "esp32/bme280/temperature",
        "qos": "1",
        "datatype": "auto",
        "broker": "5c3a4e27.a99f9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 740,
        "y": 380,
        "wires": [
            [
                "3042e15e.80a4ee",
                "d6f3a82b265529bf",
                "9f68d6c0a9768954"
            ]
        ]
    },
    {
        "id": "8ff168f0.0c74a8",
        "type": "mqtt in",
        "z": "1445711a95136826",
        "name": "",
        "topic": "esp32/bme280/humidity",
        "qos": "1",
        "datatype": "auto",
        "broker": "",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 720,
        "y": 460,
        "wires": [
            [
                "29251f29.6687c"
            ]
        ]
    },
    {
        "id": "681a1588.8506fc",
        "type": "mqtt in",
        "z": "1445711a95136826",
        "name": "",
        "topic": "esp32/bme280/pressure",
        "qos": "1",
        "datatype": "auto",
        "broker": "",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 730,
        "y": 540,
        "wires": [
            [
                "41164c6.e7b3cb4"
            ]
        ]
    },
    {
        "id": "938e33bd253c94b8",
        "type": "mqtt in",
        "z": "1445711a95136826",
        "name": "",
        "topic": "esp32/bme280/RSSI",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "847d3a7db40b830b",
                "d9a3c68d4cbf9802"
            ]
        ]
    },
    {
        "id": "9f68d6c0a9768954",
        "type": "function",
        "z": "1445711a95136826",
        "name": "Alerte_temp",
        "func": "if (parseInt(msg.payload)>=26){\n    msg.topic=\"Alerte température\"\n    msg.payload=\"Attention la température dans la salle dépasse 26 degrées\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 180,
        "wires": [
            [
                "d877f419f6c624d7"
            ]
        ]
    },
    {
        "id": "a393f07816bde8dd",
        "type": "switch",
        "z": "1445711a95136826",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "3042e15e.80a4ee",
        "type": "ui_gauge",
        "z": "1445711a95136826",
        "name": "",
        "group": "37de8fe8.46846",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#f7df09",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1010,
        "y": 380,
        "wires": []
    },
    {
        "id": "29251f29.6687c",
        "type": "ui_gauge",
        "z": "1445711a95136826",
        "name": "",
        "group": "37de8fe8.46846",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "30",
        "max": "100",
        "colors": [
            "#53a4e6",
            "#1d78a9",
            "#4e38c9"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1000,
        "y": 460,
        "wires": []
    },
    {
        "id": "41164c6.e7b3cb4",
        "type": "ui_gauge",
        "z": "1445711a95136826",
        "name": "",
        "group": "37de8fe8.46846",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressure",
        "label": "hPa",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#a346ff",
            "#bd45cb",
            "#7d007d"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1000,
        "y": 540,
        "wires": []
    },
    {
        "id": "847d3a7db40b830b",
        "type": "ui_gauge",
        "z": "1445711a95136826",
        "name": "",
        "group": "37de8fe8.46846",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "RSSI",
        "label": "dB",
        "format": "{{value}}",
        "min": "-200",
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "d6f3a82b265529bf",
        "type": "ui_chart",
        "z": "1445711a95136826",
        "name": "",
        "group": "37de8fe8.46846",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "d877f419f6c624d7",
        "type": "e-mail",
        "z": "1445711a95136826",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "djamael.lahamion@gmail.com",
        "dname": "Alerte",
        "x": 1270,
        "y": 200,
        "wires": []
    },
    {
        "id": "d9a3c68d4cbf9802",
        "type": "debug",
        "z": "1445711a95136826",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "3ea765b35f0940be",
        "type": "mqtt in",
        "z": "f78e5d85466c9552",
        "name": "",
        "topic": "LoRa/temperature",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 360,
        "wires": [
            [
                "d1a541b290719efa",
                "0f696c88b66a6ef8"
            ]
        ]
    },
    {
        "id": "0f696c88b66a6ef8",
        "type": "ui_gauge",
        "z": "f78e5d85466c9552",
        "name": "",
        "group": "0ecfa9cd3556116e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#f7df09",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 480,
        "wires": []
    },
    {
        "id": "d1a541b290719efa",
        "type": "ui_text",
        "z": "f78e5d85466c9552",
        "group": "0ecfa9cd3556116e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Message du Node1 : ",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 940,
        "y": 360,
        "wires": []
    },
    {
        "id": "1fca81057eddb73a",
        "type": "mqtt in",
        "z": "8c6ffb55d647ec65",
        "name": "",
        "topic": "M5Stack/RSSI",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 280,
        "wires": [
            [
                "1010f4c5f0abf524"
            ]
        ]
    },
    {
        "id": "b27819c315dea1d1",
        "type": "mqtt in",
        "z": "8c6ffb55d647ec65",
        "name": "",
        "topic": "M5Stack/IMU_AccX",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "81e8babc9e8d0f2b"
            ]
        ]
    },
    {
        "id": "af7807695fc6edda",
        "type": "mqtt in",
        "z": "8c6ffb55d647ec65",
        "name": "",
        "topic": "M5Stack/temperature",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 500,
        "wires": [
            [
                "5c3e9548ac49fc44",
                "7c0122db58bf79c9"
            ]
        ]
    },
    {
        "id": "1010f4c5f0abf524",
        "type": "ui_gauge",
        "z": "8c6ffb55d647ec65",
        "name": "",
        "group": "62938f1aa398bb71",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "-100",
        "max": "+100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "5c3e9548ac49fc44",
        "type": "ui_gauge",
        "z": "8c6ffb55d647ec65",
        "name": "",
        "group": "62938f1aa398bb71",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "-40",
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 792,
        "y": 490,
        "wires": []
    },
    {
        "id": "81e8babc9e8d0f2b",
        "type": "ui_text",
        "z": "8c6ffb55d647ec65",
        "group": "62938f1aa398bb71",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "La valeur de l'accélèromètre est :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 400,
        "wires": []
    },
    {
        "id": "7c0122db58bf79c9",
        "type": "ui_chart",
        "z": "8c6ffb55d647ec65",
        "name": "",
        "group": "62938f1aa398bb71",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "35",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "f71180398ea6d84d",
        "type": "inject",
        "z": "92bcf8d76f3e94f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AT+BAND=868500000",
        "payloadType": "str",
        "x": 200,
        "y": 760,
        "wires": [
            [
                "4067ae583a052ed8"
            ]
        ]
    },
    {
        "id": "8de8803371ad0279",
        "type": "debug",
        "z": "92bcf8d76f3e94f6",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "4067ae583a052ed8",
        "type": "function",
        "z": "92bcf8d76f3e94f6",
        "name": "enter",
        "func": "msg.payload=msg.payload+\"\\r\\n\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 740,
        "wires": [
            [
                "8ce9a744e7e26db6"
            ]
        ]
    },
    {
        "id": "30c3250071a2401e",
        "type": "inject",
        "z": "92bcf8d76f3e94f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AT+BAND?",
        "payloadType": "str",
        "x": 170,
        "y": 840,
        "wires": [
            [
                "4067ae583a052ed8"
            ]
        ]
    },
    {
        "id": "5330df34d6b72b4b",
        "type": "inject",
        "z": "92bcf8d76f3e94f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AT+PARAMETER?",
        "payloadType": "str",
        "x": 190,
        "y": 940,
        "wires": [
            [
                "4067ae583a052ed8"
            ]
        ]
    },
    {
        "id": "32c5143b91df1fa4",
        "type": "inject",
        "z": "92bcf8d76f3e94f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AT+SEND=0,5,Hello",
        "payloadType": "str",
        "x": 170,
        "y": 1020,
        "wires": [
            [
                "4067ae583a052ed8"
            ]
        ]
    },
    {
        "id": "26465ad65325c378",
        "type": "inject",
        "z": "92bcf8d76f3e94f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AT+SEND?",
        "payloadType": "str",
        "x": 150,
        "y": 1100,
        "wires": [
            [
                "4067ae583a052ed8"
            ]
        ]
    },
    {
        "id": "736034500d80023a",
        "type": "comment",
        "z": "92bcf8d76f3e94f6",
        "name": "LoRa on Raspberry PI 3",
        "info": "",
        "x": 140,
        "y": 100,
        "wires": []
    },
    {
        "id": "e94a98d3c74e2e4d",
        "type": "inject",
        "z": "92bcf8d76f3e94f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AT",
        "payloadType": "str",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "4067ae583a052ed8"
            ]
        ]
    },
    {
        "id": "e7d287433f1b4e52",
        "type": "split",
        "z": "92bcf8d76f3e94f6",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1330,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "224d9828787f21ac",
        "type": "debug",
        "z": "92bcf8d76f3e94f6",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 180,
        "wires": []
    },
    {
        "id": "40e570d5cfc8e541",
        "type": "function",
        "z": "92bcf8d76f3e94f6",
        "name": "séparateur",
        "func": "const list=msg.payload.split(\",\");\nmsg.payload=list[2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 160,
        "wires": [
            [
                "224d9828787f21ac"
            ]
        ]
    },
    {
        "id": "543ea22185da6fe1",
        "type": "function",
        "z": "92bcf8d76f3e94f6",
        "name": "verification de la reception et separation du message",
        "func": "const RXREG = msg.payload.search(\"RCV\");\nconst list = msg.payload.split(\",\");\nmsg.payload = list[2];\nif(RXREG==-1){\n    \n}else{\n    msg.payload = msg.payload;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 320,
        "wires": [
            [
                "3adf4e98bb1123b8",
                "aaa9f1fe0e65791e"
            ]
        ]
    },
    {
        "id": "3adf4e98bb1123b8",
        "type": "debug",
        "z": "92bcf8d76f3e94f6",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 260,
        "wires": []
    },
    {
        "id": "369dfb7eeb37a39d",
        "type": "function",
        "z": "92bcf8d76f3e94f6",
        "name": "function 1",
        "func": "const RXREG = msg.payload.search(\"RCV\");\nconst list = msg.payload.split(\",\");\nvar counter1=flow.get(\"counter1\")||0;\nvar counter2=flow.get(\"counter2\")||0;\nvar counter3=flow.get(\"counter3\")||0;\nvar counter4=flow.get(\"counter4\")||0;\nmsg.payload = list[2];\nif (RXREG == -1) {\n\n} else {\n    switch(msg.payload){\n        case 9:\n        \n        msg.payload=counter1++;\n        break;\n        case 16:\n        msg.payload=counter2++;\n        case 3:\n        msg.payload = counter3++;\n        break;\n        case 24:\n        msg.payload = counter4++;\n        break;\n\n    }\n    return msg;\n}\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 380,
        "wires": [
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "c820819c37f8703b",
        "type": "function",
        "z": "92bcf8d76f3e94f6",
        "name": "function 2",
        "func": "const RXREG = msg.payload.search(\"RCV\");\nconst list = msg.payload.split(\",\");\nvar counter1=0;\nvar counter2=0;\nvar counter3=0;\nvar counter4=0;\nmsg.payload = list[2];\nif (RXREG == -1) {\n\n} else {\n    switch(msg.payload){\n        case \"9\":\n        counter1++;\n        break;\n        case \"16\":\n        counter2++;\n        case \"3\":\n        counter3++;\n        break;\n        case \"24\":\n        counter4++;\n        break;\n    }\n    return [counter1,counter2,counter3,counter4];\n}\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 540,
        "wires": [
            [
                "27c3f9be3ca02575"
            ],
            [
                "0a2096d1f024bdf6"
            ],
            [
                "2789f846a46182ee"
            ],
            [
                "801f33e4b924be8d"
            ]
        ]
    },
    {
        "id": "27c3f9be3ca02575",
        "type": "debug",
        "z": "92bcf8d76f3e94f6",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "0a2096d1f024bdf6",
        "type": "debug",
        "z": "92bcf8d76f3e94f6",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 560,
        "wires": []
    },
    {
        "id": "2789f846a46182ee",
        "type": "debug",
        "z": "92bcf8d76f3e94f6",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 620,
        "wires": []
    },
    {
        "id": "801f33e4b924be8d",
        "type": "debug",
        "z": "92bcf8d76f3e94f6",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 680,
        "wires": []
    },
    {
        "id": "307baf1c9b44ca4a",
        "type": "function",
        "z": "92bcf8d76f3e94f6",
        "name": "function 3",
        "func": "if(msg.payload=\"9\")\nvar counter1 = flow.get(\"counter1\") || 0\ncounter1++\nflow.set(\"counter1\", counter1)\nmsg.payload=counter1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "77e79d5c35b9fa5e",
        "type": "ui_text",
        "z": "92bcf8d76f3e94f6",
        "group": "62938f1aa398bb71",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Le message reçu en LoRa",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "aaa9f1fe0e65791e",
        "type": "ui_text",
        "z": "92bcf8d76f3e94f6",
        "group": "62938f1aa398bb71",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Le message reçu en LoRa (info utile) ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 360,
        "wires": []
    },
    {
        "id": "3cb1efd7d30ce03e",
        "type": "serial in",
        "z": "92bcf8d76f3e94f6",
        "name": "RX",
        "serial": "2fbc36fc2d4e361b",
        "x": 470,
        "y": 160,
        "wires": [
            [
                "8de8803371ad0279",
                "77e79d5c35b9fa5e",
                "543ea22185da6fe1",
                "c820819c37f8703b"
            ]
        ]
    },
    {
        "id": "8ce9a744e7e26db6",
        "type": "serial out",
        "z": "92bcf8d76f3e94f6",
        "name": "TX",
        "serial": "2fbc36fc2d4e361b",
        "x": 1070,
        "y": 740,
        "wires": []
    },
    {
        "id": "46d6808f0813c01f",
        "type": "mqtt in",
        "z": "ac1d2ee9283df06a",
        "name": "TMM/TMM353",
        "topic": "TMM/TMM353",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8053294be1f1e4f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 500,
        "wires": [
            [
                "cf458b214fef4091",
                "89cb85649871a5ed",
                "2cc9f2b95b9e970c",
                "90df129d61cf99ce",
                "56c191f8ac60ba71",
                "51497c96456c12dc",
                "2260169c2f467322"
            ]
        ]
    },
    {
        "id": "cf458b214fef4091",
        "type": "function",
        "z": "ac1d2ee9283df06a",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 460,
        "wires": [
            [
                "bfc78e372d471537",
                "f3ae1b860a4c08c3"
            ]
        ]
    },
    {
        "id": "89cb85649871a5ed",
        "type": "function",
        "z": "ac1d2ee9283df06a",
        "name": "Humidity",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 540,
        "wires": [
            [
                "18b212dfd0077c99",
                "0243e183dd9c14b6"
            ]
        ]
    },
    {
        "id": "2cc9f2b95b9e970c",
        "type": "function",
        "z": "ac1d2ee9283df06a",
        "name": "Pression",
        "func": "const input=msg.payload;\nmsg.payload=input.Pressure\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 620,
        "wires": [
            [
                "f94bafd4a022392f",
                "75e7d4587a3d4cb5"
            ]
        ]
    },
    {
        "id": "90df129d61cf99ce",
        "type": "function",
        "z": "ac1d2ee9283df06a",
        "name": "RSSI",
        "func": "const input=msg.payload;\nmsg.payload=input.RSSI\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 700,
        "wires": [
            [
                "34ea8a5b4c56e3e3"
            ]
        ]
    },
    {
        "id": "56c191f8ac60ba71",
        "type": "debug",
        "z": "ac1d2ee9283df06a",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 300,
        "wires": []
    },
    {
        "id": "51497c96456c12dc",
        "type": "function",
        "z": "ac1d2ee9283df06a",
        "name": "Nom de salle",
        "func": "const input=msg.payload;\nmsg.payload=input.salle\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 400,
        "wires": [
            [
                "e44f9b774d4061d4"
            ]
        ]
    },
    {
        "id": "bd1bab7ac95fca02",
        "type": "comment",
        "z": "ac1d2ee9283df06a",
        "name": "BME680",
        "info": "",
        "x": 220,
        "y": 260,
        "wires": []
    },
    {
        "id": "2260169c2f467322",
        "type": "function",
        "z": "ac1d2ee9283df06a",
        "name": "sensorType",
        "func": "const input=msg.payload;\nmsg.payload=input.sensorType\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 340,
        "wires": [
            [
                "14f880f062648dcb"
            ]
        ]
    },
    {
        "id": "bfc78e372d471537",
        "type": "ui_gauge",
        "z": "ac1d2ee9283df06a",
        "name": "Température",
        "group": "861d1534d006d87f",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "18b212dfd0077c99",
        "type": "ui_gauge",
        "z": "ac1d2ee9283df06a",
        "name": "Humidité",
        "group": "861d1534d006d87f",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 520,
        "wires": []
    },
    {
        "id": "f94bafd4a022392f",
        "type": "ui_gauge",
        "z": "ac1d2ee9283df06a",
        "name": "Pression",
        "group": "861d1534d006d87f",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "34ea8a5b4c56e3e3",
        "type": "ui_text",
        "z": "ac1d2ee9283df06a",
        "group": "861d1534d006d87f",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "RSSI",
        "label": "RSSI",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 700,
        "wires": []
    },
    {
        "id": "e44f9b774d4061d4",
        "type": "ui_text",
        "z": "ac1d2ee9283df06a",
        "group": "861d1534d006d87f",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Nom de la salle",
        "label": "Nom de la salle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "14f880f062648dcb",
        "type": "ui_text",
        "z": "ac1d2ee9283df06a",
        "group": "96d7e7c3aa60f9ca",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sensorType",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "f3ae1b860a4c08c3",
        "type": "ui_chart",
        "z": "ac1d2ee9283df06a",
        "name": "Chart Température",
        "group": "96d7e7c3aa60f9ca",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0243e183dd9c14b6",
        "type": "ui_chart",
        "z": "ac1d2ee9283df06a",
        "name": "Chart Humidité",
        "group": "96d7e7c3aa60f9ca",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "75e7d4587a3d4cb5",
        "type": "ui_chart",
        "z": "ac1d2ee9283df06a",
        "name": "Chart Pression",
        "group": "96d7e7c3aa60f9ca",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "4a8a2ab19cfd91cb",
        "type": "mqtt in",
        "z": "e254f0b5d269d72d",
        "name": "TMM-353",
        "topic": "TMM(LTDS)/353",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8053294be1f1e4f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 520,
        "wires": [
            [
                "96c0d85d456dad14",
                "ddaea825deaec749",
                "7e4366bafb272ca8",
                "991fafabb69cb222",
                "929b48f82a5cfc50",
                "e5e5710925422991",
                "c61b1712d49cd13f"
            ]
        ]
    },
    {
        "id": "96c0d85d456dad14",
        "type": "function",
        "z": "e254f0b5d269d72d",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 420,
        "wires": [
            [
                "47e4b296475aae21",
                "e7fb036b04b5cf00"
            ]
        ]
    },
    {
        "id": "ddaea825deaec749",
        "type": "function",
        "z": "e254f0b5d269d72d",
        "name": "Humidity",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 500,
        "wires": [
            [
                "ab9c3a4c73d3ce4d",
                "6f1cc0b87eedda53"
            ]
        ]
    },
    {
        "id": "7e4366bafb272ca8",
        "type": "function",
        "z": "e254f0b5d269d72d",
        "name": "Pression",
        "func": "const input=msg.payload;\nmsg.payload=input.Pressure\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 580,
        "wires": [
            [
                "f2fc277873dfa875",
                "e57f18ba725efcc0"
            ]
        ]
    },
    {
        "id": "991fafabb69cb222",
        "type": "function",
        "z": "e254f0b5d269d72d",
        "name": "RSSI",
        "func": "const input=msg.payload;\nmsg.payload=input.RSSI\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 660,
        "wires": [
            [
                "78dffc7816dc8c28"
            ]
        ]
    },
    {
        "id": "929b48f82a5cfc50",
        "type": "debug",
        "z": "e254f0b5d269d72d",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "e5e5710925422991",
        "type": "function",
        "z": "e254f0b5d269d72d",
        "name": "Nom de salle",
        "func": "const input=msg.payload;\nmsg.payload=input.salle\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 360,
        "wires": [
            [
                "dd03050decca047c"
            ]
        ]
    },
    {
        "id": "24f128f55f7b37e4",
        "type": "comment",
        "z": "e254f0b5d269d72d",
        "name": "BME680",
        "info": "",
        "x": 760,
        "y": 220,
        "wires": []
    },
    {
        "id": "c61b1712d49cd13f",
        "type": "function",
        "z": "e254f0b5d269d72d",
        "name": "sensorType",
        "func": "const input=msg.payload;\nmsg.payload=input.sensorType\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 300,
        "wires": [
            [
                "c4e865064332ee95"
            ]
        ]
    },
    {
        "id": "47e4b296475aae21",
        "type": "ui_gauge",
        "z": "e254f0b5d269d72d",
        "name": "Température",
        "group": "ca5ab451e3912e17",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 400,
        "wires": []
    },
    {
        "id": "ab9c3a4c73d3ce4d",
        "type": "ui_gauge",
        "z": "e254f0b5d269d72d",
        "name": "Humidité",
        "group": "ca5ab451e3912e17",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 480,
        "wires": []
    },
    {
        "id": "f2fc277873dfa875",
        "type": "ui_gauge",
        "z": "e254f0b5d269d72d",
        "name": "Pression",
        "group": "ca5ab451e3912e17",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 560,
        "wires": []
    },
    {
        "id": "78dffc7816dc8c28",
        "type": "ui_text",
        "z": "e254f0b5d269d72d",
        "group": "ca5ab451e3912e17",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "RSSI",
        "label": "RSSI",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1030,
        "y": 660,
        "wires": []
    },
    {
        "id": "dd03050decca047c",
        "type": "ui_text",
        "z": "e254f0b5d269d72d",
        "group": "ca5ab451e3912e17",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Nom de la salle",
        "label": "Nom de la salle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1060,
        "y": 360,
        "wires": []
    },
    {
        "id": "c4e865064332ee95",
        "type": "ui_text",
        "z": "e254f0b5d269d72d",
        "group": "dcdcc01c5731e385",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sensorType",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1050,
        "y": 300,
        "wires": []
    },
    {
        "id": "e7fb036b04b5cf00",
        "type": "ui_chart",
        "z": "e254f0b5d269d72d",
        "name": "Chart Température",
        "group": "dcdcc01c5731e385",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "6f1cc0b87eedda53",
        "type": "ui_chart",
        "z": "e254f0b5d269d72d",
        "name": "Chart Humidité",
        "group": "dcdcc01c5731e385",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "e57f18ba725efcc0",
        "type": "ui_chart",
        "z": "e254f0b5d269d72d",
        "name": "Chart Pression",
        "group": "dcdcc01c5731e385",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "541ff0f488810f2f",
        "type": "mqtt in",
        "z": "5b1ea2afc83fe838",
        "name": "TMM/TMM353",
        "topic": "TMM/TMM353",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8053294be1f1e4f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 500,
        "wires": [
            [
                "132823b462582e37",
                "d0d61de18fc76e8f",
                "5092269890ed8792",
                "e1bbc503e64efb10",
                "aaa978bb1e5f084b",
                "7ec89818458aab18",
                "95543b363cc80a12"
            ]
        ]
    },
    {
        "id": "132823b462582e37",
        "type": "function",
        "z": "5b1ea2afc83fe838",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 460,
        "wires": [
            [
                "93ae54081e84ad0f",
                "f9bbb9be365b9987"
            ]
        ]
    },
    {
        "id": "d0d61de18fc76e8f",
        "type": "function",
        "z": "5b1ea2afc83fe838",
        "name": "Humidity",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 540,
        "wires": [
            [
                "1fc4b6d713c1a3e0",
                "4fa3d981b1b1c0a3"
            ]
        ]
    },
    {
        "id": "5092269890ed8792",
        "type": "function",
        "z": "5b1ea2afc83fe838",
        "name": "Pression",
        "func": "const input=msg.payload;\nmsg.payload=input.Pressure\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 620,
        "wires": [
            [
                "6be6354637be79e5",
                "cbbb56db09f653e7"
            ]
        ]
    },
    {
        "id": "e1bbc503e64efb10",
        "type": "function",
        "z": "5b1ea2afc83fe838",
        "name": "RSSI",
        "func": "const input=msg.payload;\nmsg.payload=input.RSSI\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 700,
        "wires": [
            [
                "b67acec103a86705"
            ]
        ]
    },
    {
        "id": "aaa978bb1e5f084b",
        "type": "debug",
        "z": "5b1ea2afc83fe838",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 300,
        "wires": []
    },
    {
        "id": "7ec89818458aab18",
        "type": "function",
        "z": "5b1ea2afc83fe838",
        "name": "Nom de salle",
        "func": "const input=msg.payload;\nmsg.payload=input.salle\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 400,
        "wires": [
            [
                "7db7b1f7ee803196"
            ]
        ]
    },
    {
        "id": "9ab969db7a485fc7",
        "type": "comment",
        "z": "5b1ea2afc83fe838",
        "name": "BME680",
        "info": "",
        "x": 220,
        "y": 260,
        "wires": []
    },
    {
        "id": "95543b363cc80a12",
        "type": "function",
        "z": "5b1ea2afc83fe838",
        "name": "sensorType",
        "func": "const input=msg.payload;\nmsg.payload=input.sensorType\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 340,
        "wires": [
            [
                "89aa339c31855485"
            ]
        ]
    },
    {
        "id": "93ae54081e84ad0f",
        "type": "ui_gauge",
        "z": "5b1ea2afc83fe838",
        "name": "Température",
        "group": "861d1534d006d87f",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "1fc4b6d713c1a3e0",
        "type": "ui_gauge",
        "z": "5b1ea2afc83fe838",
        "name": "Humidité",
        "group": "861d1534d006d87f",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 520,
        "wires": []
    },
    {
        "id": "6be6354637be79e5",
        "type": "ui_gauge",
        "z": "5b1ea2afc83fe838",
        "name": "Pression",
        "group": "861d1534d006d87f",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "b67acec103a86705",
        "type": "ui_text",
        "z": "5b1ea2afc83fe838",
        "group": "861d1534d006d87f",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "RSSI",
        "label": "RSSI",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 700,
        "wires": []
    },
    {
        "id": "7db7b1f7ee803196",
        "type": "ui_text",
        "z": "5b1ea2afc83fe838",
        "group": "861d1534d006d87f",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Nom de la salle",
        "label": "Nom de la salle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "89aa339c31855485",
        "type": "ui_text",
        "z": "5b1ea2afc83fe838",
        "group": "96d7e7c3aa60f9ca",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sensorType",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "f9bbb9be365b9987",
        "type": "ui_chart",
        "z": "5b1ea2afc83fe838",
        "name": "Chart Température",
        "group": "96d7e7c3aa60f9ca",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "4fa3d981b1b1c0a3",
        "type": "ui_chart",
        "z": "5b1ea2afc83fe838",
        "name": "Chart Humidité",
        "group": "96d7e7c3aa60f9ca",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "cbbb56db09f653e7",
        "type": "ui_chart",
        "z": "5b1ea2afc83fe838",
        "name": "Chart Pression",
        "group": "96d7e7c3aa60f9ca",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "2563defdfb817bea",
        "type": "mqtt in",
        "z": "9984146dbfb33aa3",
        "name": "TMM343Bme",
        "topic": "TMM/353/BME280",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "626be5720a63219a",
                "201ad704421d7ffa"
            ]
        ]
    },
    {
        "id": "626be5720a63219a",
        "type": "debug",
        "z": "9984146dbfb33aa3",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 440,
        "wires": []
    },
    {
        "id": "201ad704421d7ffa",
        "type": "influxdb out",
        "z": "9984146dbfb33aa3",
        "influxdb": "2954565ce6691dd3",
        "name": "",
        "measurement": "test",
        "precision": "",
        "retentionPolicy": "",
        "database": "TMM353",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "c773303.7246cd",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "Parse message",
        "func": "var msg433 = {};\nmsg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nvar parts433 = msg.payload.split(\";\");\n\nmsg433.p1 = parts433[0];\nmsg433.p2 = parts433[1];\nmsg433.name = parts433[2];\nfor (var i=3; i<parts433.length; i++) {\n    var keyvalue = parts433[i].split(\"=\");\n    if (keyvalue.length===2) {\n        msg433[keyvalue[0]] = keyvalue[1];\n    }\n}\n\nmsg.msg433 = msg433;\nmsg.topic=\"rflink\";\n\nreturn msg;\n\n/*\n\n// So firstly a generic means of getting incoming items into an object\n\nvar the433 = {};\nmsg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nnode.warn(msg.payload);\nvar parts433 = msg.payload.split(\";\");\n\nthe433.p1 = parts433[0];\nthe433.p2 = parts433[1];\nthe433.name = parts433[2];\n\nvar a = 3;\nwhile (a < parts433.length) {\n    var bits433 = parts433[a].split(\"=\");\n    switch (bits433[0]) {\n        case \"ID\": the433.id = bits433[1]; break;\n        case \"SWITCH\": the433.switch = bits433[1]; break;\n        case \"CMD\": the433.cmd = bits433[1]; break;\n        case \"SET_LEVEL\": the433.set_level = parseInt(bits433[1], 10); break;\n        case \"TEMP\": the433.temp = parseInt(bits433[1], 16) / 10; break;\n        case \"HUM\": the433.hum = parseInt(bits433[1], 10); break;\n        case \"BARO\": the433.baro = parseInt(bits433[1], 16); break;\n        case \"HSTATUS\": the433.hstatus = parseInt(bits433[1], 10); break;\n        case \"BFORECAST\": the433.bforecast = parseInt(bits433[1], 10); break;\n        case \"UV\": the433.uv = parseInt(bits433[1], 16); break;\n        case \"LUX\": the433.lux = parseInt(bits433[1], 16); break;\n        case \"BAT\": the433.bat = bits433[1]; break;\n        case \"RAIN\": the433.rain = parseInt(bits433[1], 16) / 10; break;\n        case \"RAIN\": the433.rainrate = parseInt(bits433[1], 16) / 10; break;\n        case \"WINSP\": the433.winsp = parseInt(bits433[1], 16) / 10; break;\n        case \"AWINSP\": the433.awinsp = parseInt(bits433[1], 16) / 10; break;\n        case \"WINGS\": the433.wings = parseInt(bits433[1], 16); break;\n        case \"WINDIR\": the433.windir = parseInt(bits433[1], 10); break;\n        case \"WINCHL\": the433.winchl = parseInt(bits433[1], 16); break;\n        case \"WINTMP\": the433.wintmp = parseInt(bits433[1], 16); break;\n        case \"CHIME\": the433.chime = parseInt(bits433[1], 10); break;\n        case \"SMOKEALERT\": the433.smokealert = bits433[1]; break;\n        case \"PIR\": the433.pir = bits433[1]; break;\n        case \"CO2\": the433.co2 = parseInt(bits433[1], 10); break;\n        case \"SOUND\": the433.sound = parseInt(bits433[1], 10); break;\n        case \"KWATT\": the433.kwatt = parseInt(bits433[1], 16); break;\n        case \"WATT\": the433.watt = parseInt(bits433[1], 16); break;\n        case \"CURRENT\": the433.current = parseInt(bits433[1], 10); break;\n        case \"CURRENT2\": the433.current2 = parseInt(bits433[1], 10); break;\n        case \"CURRENT3\": the433.current3 = parseInt(bits433[1], 10); break;\n        case \"DIST\": the433.dist = parseInt(bits433[1], 10); break;\n        case \"METER\": the433.meter = parseInt(bits433[1], 10); break;\n        case \"VOLT\": the433.volt = parseInt(bits433[1], 10); break;\n        case \"RGBW\": the433.rgbc = parseInt(bits433[1].substring(0, 2), 16);\n            the433.rgbw = parseInt(bits433[1].substring(2, 4), 16); break;\n    }\n    a++;\n}\n\n// SO - the above is general... here is my specific setup for temporarily displaying\n// the Acurite info\nif ((the433.p1 == \"20\") && (the433.name == \"Acurite\") && (the433.id == \"c826\")) {\n    if (typeof the433.temp !== 'undefined') temp = the433.temp;\n    if (typeof the433.hum !== 'undefined') hum = the433.hum;\n    if (typeof the433.bat !== 'undefined') bat = the433.bat;\n    if (typeof the433.rain !== 'undefined') rain = the433.rain;\n    if (typeof the433.winsp !== 'undefined') winsp = the433.winsp;\n    if (typeof the433.windir !== 'undefined') windir = the433.windir;\n\n    node.warn(\"Temperature: \" + temp + \"c\");\n    node.warn(\"Humidity: \" + hum + \"%\");\n    node.warn(\"Battery: \" + bat);\n    node.warn(\"Rain: \" + rain + \"mm\");\n    node.warn(\"Wind Speed: \" + winsp + \"km/h\");\n    node.warn(\"Wind Dir: \" + (windir * 22.5) + \" degrees\");\n}\n\n*/",
        "outputs": 1,
        "noerr": 0,
        "x": 322,
        "y": 105,
        "wires": [
            [
                "6dee95b8.6ef82c"
            ]
        ]
    },
    {
        "id": "6dee95b8.6ef82c",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "TEMP conversion",
        "func": "if (msg.msg433.TEMP!==undefined) {\n    if (parseInt(msg.msg433.TEMP, 16) >= 0x8000) {\n        msg.msg433.TEMP = (parseInt(msg.msg433.TEMP, 16) & 0x7FFF) / 10 * -1;\n    } else {\n        msg.msg433.TEMP = parseInt(msg.msg433.TEMP, 16) / 10;\n    }\n} else msg.msg433.TEMP=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.TEMP });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 329,
        "y": 178,
        "wires": [
            [
                "7afe7037.54ce3"
            ]
        ]
    },
    {
        "id": "7afe7037.54ce3",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "HUM conversion",
        "func": "if (msg.msg433.HUM!==undefined) {\n    msg.msg433.HUM = parseInt(msg.msg433.HUM, 10);\n}\nelse msg.msg433.HUM=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.HUM });\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 318,
        "y": 239,
        "wires": [
            [
                "7cb270d7.c88b1"
            ]
        ]
    },
    {
        "id": "7cb270d7.c88b1",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "ID conversion",
        "func": "if (msg.msg433.ID!==undefined) {\n    msg.msg433.ID = parseInt(msg.msg433.ID, 16);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 319,
        "y": 298,
        "wires": [
            [
                "b9ba4380.32c7"
            ]
        ]
    },
    {
        "id": "b9ba4380.32c7",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "RAIN conversion",
        "func": "var global_name = \"rainstat\";   // Name of the global variable\n\nvar rainstat = global.get(global_name);\n\n msg.msg433.RAINRATE = -999;\n\nif (msg.msg433.RAIN!==undefined) {\n    msg.msg433.RAIN = parseInt(msg.msg433.RAIN, 16) /10;\n    msg.msg433.RAINRATE = msg.msg433.RAIN - rainstat;\n    global.set(global_name,msg.msg433.RAIN);\n} else msg.msg433.RAIN=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: rainstat });\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 351,
        "wires": [
            [
                "1d9e07b2.0f0f58"
            ]
        ]
    },
    {
        "id": "1d9e07b2.0f0f58",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "WINSP conversion",
        "func": "if (msg.msg433.WINSP!==undefined) {\n    msg.msg433.WINSP = parseInt(msg.msg433.WINSP, 16) /10;\n} else msg.msg433.WINSP=0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.WINSP });\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 331,
        "y": 413,
        "wires": [
            [
                "cd3cb6d2.640358"
            ]
        ]
    },
    {
        "id": "cd3cb6d2.640358",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "WINGS conversion",
        "func": "if (msg.msg433.WINGS!==undefined) {\n    msg.msg433.WINGS  = parseInt(msg.msg433.WINGS , 16)/10;\n}\nelse msg.msg433.WINGS=0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.WINGS });\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 331,
        "y": 483,
        "wires": [
            [
                "47f9b92f.6ec698"
            ]
        ]
    },
    {
        "id": "47f9b92f.6ec698",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "WINDIR conversion",
        "func": "if (msg.msg433.WINDIR!==undefined) {\n    msg.msg433.WINDIR  = parseInt(msg.msg433.WINDIR , 10) * 22.5;\n}\nelse msg.msg433.WINDIR=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.WINDIR });\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 334,
        "y": 549,
        "wires": [
            [
                "b75fde7b.7dca"
            ]
        ]
    },
    {
        "id": "b75fde7b.7dca",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "SWITCH conversion",
        "func": "if (msg.msg433.SWITCH !==undefined) {\n    msg.msg433.SWITCH   = parseInt(msg.msg433.SWITCH  , 16);\n}\nelse msg.msg433.SWITCH=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.SWITCH });\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 342,
        "y": 616,
        "wires": [
            [
                "84795aea.3a1228"
            ]
        ]
    },
    {
        "id": "84795aea.3a1228",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "CHIME conversion",
        "func": "if (msg.msg433.CHIME  !==undefined) {\n    msg.msg433.CHIME    = parseInt(msg.msg433.CHIME   , 16);\n} else msg.msg433.CHIME=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.CHIME });\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 331,
        "y": 682,
        "wires": [
            [
                "3b4359cd.bb59b6"
            ]
        ]
    },
    {
        "id": "8dba2f7d.abaa8",
        "type": "change",
        "z": "e40961b1.ad649",
        "name": "Set Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "rflink",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 501.6328125,
        "y": 752.3046875,
        "wires": [
            [
                "508256b3.31cd68",
                "fab8599c.3ad538"
            ]
        ]
    },
    {
        "id": "508256b3.31cd68",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "Weather Station",
        "func": "msg.payload = {\n    name: msg.msg433.name,\n    temp: msg.msg433.TEMP,\n    wind: msg.msg433.WINSP,\n    gust: msg.msg433.WINGS,\n    direction: msg.msg433.WINDIR,\n    rain: msg.msg433.RAIN,\n    rainrate: msg.msg433.RAINRATE,\n    humidity: msg.msg433.HUM,\n    battery: msg.msg433.BAT\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 678,
        "y": 752,
        "wires": [
            [
                "21825ef.819c2a2"
            ]
        ]
    },
    {
        "id": "3b4359cd.bb59b6",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "BAT conversion",
        "func": "if (msg.msg433.BAT === undefined) msg.msg433.BAT=\"\";\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.BAT });\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 321,
        "y": 750,
        "wires": [
            [
                "8dba2f7d.abaa8"
            ]
        ]
    },
    {
        "id": "fe1dcc9.31ead3",
        "type": "inject",
        "z": "e40961b1.ad649",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20;02;DKW2012;ID=0043;TEMP=8010;HUM=57;WINSP=0031;WINGS=0049;RAIN=0c22;WINDIR=0004;BAT=OK;",
        "payloadType": "str",
        "x": 97,
        "y": 142,
        "wires": [
            [
                "c773303.7246cd"
            ]
        ]
    },
    {
        "id": "fab8599c.3ad538",
        "type": "debug",
        "z": "e40961b1.ad649",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 695,
        "y": 833,
        "wires": []
    },
    {
        "id": "a8e28186.510a6",
        "type": "mqtt in",
        "z": "e40961b1.ad649",
        "name": "",
        "topic": "RFLINK_REC",
        "qos": "0",
        "broker": "5c3a4e27.a99f9",
        "inputs": 0,
        "x": 96,
        "y": 81,
        "wires": [
            [
                "c773303.7246cd",
                "f9901742.eef988"
            ]
        ]
    },
    {
        "id": "f9901742.eef988",
        "type": "debug",
        "z": "e40961b1.ad649",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 312,
        "y": 55,
        "wires": []
    },
    {
        "id": "21825ef.819c2a2",
        "type": "influxdb out",
        "z": "e40961b1.ad649",
        "influxdb": "373fa459.54e07c",
        "name": "Weather",
        "measurement": "stations",
        "precision": "s",
        "retentionPolicy": "",
        "x": 1063,
        "y": 754,
        "wires": []
    },
    {
        "id": "06c8e674a0419298",
        "type": "comment",
        "z": "bf15a4a76dd345f2",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "6422aa9f91ac19e3",
        "type": "mqtt in",
        "z": "bf15a4a76dd345f2",
        "name": "",
        "topic": "TMM/Salle/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5c3a4e27.a99f9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 520,
        "wires": [
            [
                "07d6ee566bb457b5",
                "2ece1a1655eddc68"
            ]
        ]
    },
    {
        "id": "903ede1c64791e0f",
        "type": "debug",
        "z": "bf15a4a76dd345f2",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "measurement",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "47a54afdfe2fc0e5",
        "type": "comment",
        "z": "bf15a4a76dd345f2",
        "name": "Ce sont toutes les salles de TMM",
        "info": "",
        "x": 390,
        "y": 260,
        "wires": []
    },
    {
        "id": "07d6ee566bb457b5",
        "type": "debug",
        "z": "bf15a4a76dd345f2",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 420,
        "wires": []
    },
    {
        "id": "1e3fc2472580243c",
        "type": "switch",
        "z": "bf15a4a76dd345f2",
        "name": "",
        "property": "measurement",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "351",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "352",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "353",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "354",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "355",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 750,
        "y": 420,
        "wires": [
            [
                "264dc3c013cb04da"
            ],
            [
                "9329f522c1f5746e"
            ],
            [
                "595054a6ed3709c6"
            ],
            [
                "eefe6b1426533fd1"
            ],
            [
                "5eca3109bb59a619"
            ]
        ]
    },
    {
        "id": "595054a6ed3709c6",
        "type": "link out",
        "z": "bf15a4a76dd345f2",
        "name": "Link out TMM353",
        "mode": "link",
        "links": [
            "1af6a126ffb90fe0"
        ],
        "x": 885,
        "y": 380,
        "wires": []
    },
    {
        "id": "eefe6b1426533fd1",
        "type": "link out",
        "z": "bf15a4a76dd345f2",
        "name": "link out TMM354",
        "mode": "link",
        "links": [
            "4cc1d49710aae914"
        ],
        "x": 885,
        "y": 420,
        "wires": []
    },
    {
        "id": "5eca3109bb59a619",
        "type": "link out",
        "z": "bf15a4a76dd345f2",
        "name": "link out TMM355",
        "mode": "link",
        "links": [
            "8f2180970ac6e3b1"
        ],
        "x": 885,
        "y": 460,
        "wires": []
    },
    {
        "id": "264dc3c013cb04da",
        "type": "link out",
        "z": "bf15a4a76dd345f2",
        "name": "link out TMM351",
        "mode": "link",
        "links": [
            "19cc0365a5d4bf34"
        ],
        "x": 885,
        "y": 300,
        "wires": []
    },
    {
        "id": "9329f522c1f5746e",
        "type": "link out",
        "z": "bf15a4a76dd345f2",
        "name": "link out TMM352",
        "mode": "link",
        "links": [
            "3ae8f071de1760cd"
        ],
        "x": 885,
        "y": 340,
        "wires": []
    },
    {
        "id": "9349654382207f22",
        "type": "influxdb out",
        "z": "bf15a4a76dd345f2",
        "influxdb": "2954565ce6691dd3",
        "name": "",
        "measurement": "msg.measurement",
        "precision": "",
        "retentionPolicy": "",
        "database": "Salle",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "LTDS",
        "bucket": "SallesTMM",
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "2ece1a1655eddc68",
        "type": "function",
        "z": "bf15a4a76dd345f2",
        "name": "function 4",
        "func": "msg.measurement=msg.payload.salle;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 520,
        "wires": [
            [
                "903ede1c64791e0f",
                "9349654382207f22",
                "1e3fc2472580243c"
            ]
        ]
    },
    {
        "id": "19cc0365a5d4bf34",
        "type": "link in",
        "z": "f6a4559307e18ffb",
        "name": "Link TMM351",
        "links": [
            "264dc3c013cb04da"
        ],
        "x": 615,
        "y": 320,
        "wires": [
            [
                "5da94b891573233f",
                "33c58eed01cb8190",
                "a1f17e75acf7a441"
            ]
        ]
    },
    {
        "id": "5da94b891573233f",
        "type": "function",
        "z": "f6a4559307e18ffb",
        "name": "Temperature TMM351",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 260,
        "wires": [
            [
                "431305e9a7acb8c2",
                "f2227896d06de67e",
                "2ee286e21d8c9dda"
            ]
        ]
    },
    {
        "id": "431305e9a7acb8c2",
        "type": "ui_chart",
        "z": "f6a4559307e18ffb",
        "name": "Température TMM351",
        "group": "f2c9732c6e37220c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f2227896d06de67e",
        "type": "ui_gauge",
        "z": "f6a4559307e18ffb",
        "name": "Température TMM351",
        "group": "f04bc822974acc31",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1160,
        "y": 280,
        "wires": []
    },
    {
        "id": "33c58eed01cb8190",
        "type": "function",
        "z": "f6a4559307e18ffb",
        "name": "Humidité TMM351",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 380,
        "wires": [
            [
                "658fada5717f2b7f",
                "5bb76ad39f82699f"
            ]
        ]
    },
    {
        "id": "658fada5717f2b7f",
        "type": "ui_chart",
        "z": "f6a4559307e18ffb",
        "name": "Humidité TMM351",
        "group": "f2c9732c6e37220c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "5bb76ad39f82699f",
        "type": "ui_gauge",
        "z": "f6a4559307e18ffb",
        "name": "Humidité TMM351",
        "group": "f04bc822974acc31",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 400,
        "wires": []
    },
    {
        "id": "2ee286e21d8c9dda",
        "type": "switch",
        "z": "f6a4559307e18ffb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a1f17e75acf7a441",
        "type": "debug",
        "z": "f6a4559307e18ffb",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "3ae8f071de1760cd",
        "type": "link in",
        "z": "e2bd3bf056aa8726",
        "name": "Link TMM352",
        "links": [
            "9329f522c1f5746e"
        ],
        "x": 615,
        "y": 360,
        "wires": [
            [
                "3d1f672c45b659c4",
                "4089f3c2420ad4f4"
            ]
        ]
    },
    {
        "id": "3d1f672c45b659c4",
        "type": "function",
        "z": "e2bd3bf056aa8726",
        "name": "Temperature TMM352",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 300,
        "wires": [
            [
                "f81ffe59b755f311",
                "7f34e51cbd6dfbce"
            ]
        ]
    },
    {
        "id": "f81ffe59b755f311",
        "type": "ui_gauge",
        "z": "e2bd3bf056aa8726",
        "name": "Température TMM352",
        "group": "0c89996a7faaa6f3",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1160,
        "y": 320,
        "wires": []
    },
    {
        "id": "4089f3c2420ad4f4",
        "type": "function",
        "z": "e2bd3bf056aa8726",
        "name": "Humidité TMM352",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 420,
        "wires": [
            [
                "703b3e7d0083593f",
                "7fb9810da40ba2d1"
            ]
        ]
    },
    {
        "id": "703b3e7d0083593f",
        "type": "ui_chart",
        "z": "e2bd3bf056aa8726",
        "name": "Humidité TMM352",
        "group": "5cba7ebfc6512a21",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "7fb9810da40ba2d1",
        "type": "ui_gauge",
        "z": "e2bd3bf056aa8726",
        "name": "Humidité TMM352",
        "group": "0c89996a7faaa6f3",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 440,
        "wires": []
    },
    {
        "id": "7f34e51cbd6dfbce",
        "type": "ui_chart",
        "z": "e2bd3bf056aa8726",
        "name": "Température TMM352",
        "group": "5cba7ebfc6512a21",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1af6a126ffb90fe0",
        "type": "link in",
        "z": "6cb5a7ae0f969518",
        "name": "Link TMM353",
        "links": [
            "595054a6ed3709c6"
        ],
        "x": 575,
        "y": 240,
        "wires": [
            [
                "5a54d13c9db613ef",
                "e1b4a64376313370"
            ]
        ]
    },
    {
        "id": "5a54d13c9db613ef",
        "type": "function",
        "z": "6cb5a7ae0f969518",
        "name": "Temperature TMM353",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 180,
        "wires": [
            [
                "7230ad7b70c9341b",
                "3d1b23a1ad15a8dc"
            ]
        ]
    },
    {
        "id": "7230ad7b70c9341b",
        "type": "ui_chart",
        "z": "6cb5a7ae0f969518",
        "name": "Température TMM353",
        "group": "2593623ca3948d85",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "3d1b23a1ad15a8dc",
        "type": "ui_gauge",
        "z": "6cb5a7ae0f969518",
        "name": "Température TMM353",
        "group": "6b74ba331a422064",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 200,
        "wires": []
    },
    {
        "id": "e1b4a64376313370",
        "type": "function",
        "z": "6cb5a7ae0f969518",
        "name": "Humidité TMM353",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 300,
        "wires": [
            [
                "f558a6c38c09ac73",
                "4450a5940b5e48a1"
            ]
        ]
    },
    {
        "id": "f558a6c38c09ac73",
        "type": "ui_chart",
        "z": "6cb5a7ae0f969518",
        "name": "Humidité TMM353",
        "group": "2593623ca3948d85",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4450a5940b5e48a1",
        "type": "ui_gauge",
        "z": "6cb5a7ae0f969518",
        "name": "Humidité TMM353",
        "group": "6b74ba331a422064",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 320,
        "wires": []
    },
    {
        "id": "4cc1d49710aae914",
        "type": "link in",
        "z": "b490c4816a62d4de",
        "name": "Link TMM354",
        "links": [
            "eefe6b1426533fd1"
        ],
        "x": 605,
        "y": 320,
        "wires": [
            [
                "2150f60a41a2d967",
                "412af94140b11bce"
            ]
        ]
    },
    {
        "id": "2150f60a41a2d967",
        "type": "function",
        "z": "b490c4816a62d4de",
        "name": "Temperature TMM354",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 260,
        "wires": [
            [
                "704b46206272444b",
                "0e806b11ae9e87f8"
            ]
        ]
    },
    {
        "id": "704b46206272444b",
        "type": "ui_chart",
        "z": "b490c4816a62d4de",
        "name": "Température TMM354",
        "group": "343b18f1ce5b2643",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1130,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "0e806b11ae9e87f8",
        "type": "ui_gauge",
        "z": "b490c4816a62d4de",
        "name": "Température TMM354",
        "group": "feeb56b380e4002d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 280,
        "wires": []
    },
    {
        "id": "412af94140b11bce",
        "type": "function",
        "z": "b490c4816a62d4de",
        "name": "Humidité TMM354",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 380,
        "wires": [
            [
                "89d3df3fd3d009c1",
                "63d07dcbe9eb4081"
            ]
        ]
    },
    {
        "id": "89d3df3fd3d009c1",
        "type": "ui_chart",
        "z": "b490c4816a62d4de",
        "name": "Humidité TMM354",
        "group": "343b18f1ce5b2643",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "63d07dcbe9eb4081",
        "type": "ui_gauge",
        "z": "b490c4816a62d4de",
        "name": "Humidité TMM354",
        "group": "feeb56b380e4002d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 400,
        "wires": []
    },
    {
        "id": "8f2180970ac6e3b1",
        "type": "link in",
        "z": "ca8fc5b7270e3fa1",
        "name": "Link TMM355",
        "links": [
            "5eca3109bb59a619"
        ],
        "x": 545,
        "y": 580,
        "wires": [
            [
                "afa75bddf3c73595",
                "17c7ccd30e2b707c",
                "22a81279a9188065",
                "0f4b453cc6b5baf3"
            ]
        ]
    },
    {
        "id": "afa75bddf3c73595",
        "type": "function",
        "z": "ca8fc5b7270e3fa1",
        "name": "Temperature TMM355",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 520,
        "wires": [
            [
                "520ae5255e5ada24",
                "46b1a3b56b1c2a18",
                "0a900a8c1ad02583",
                "d38246c7c54e6cb4"
            ]
        ]
    },
    {
        "id": "520ae5255e5ada24",
        "type": "ui_chart",
        "z": "ca8fc5b7270e3fa1",
        "name": "Température TMM355",
        "group": "fc417f65bc9aa55a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "46b1a3b56b1c2a18",
        "type": "ui_gauge",
        "z": "ca8fc5b7270e3fa1",
        "name": "Température TMM355",
        "group": "d7e3d88e7d580bac",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 540,
        "wires": []
    },
    {
        "id": "17c7ccd30e2b707c",
        "type": "function",
        "z": "ca8fc5b7270e3fa1",
        "name": "Humidité TMM355",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 640,
        "wires": [
            [
                "171b2aa80b8bcc34",
                "2ac9c393d1c2ea0c"
            ]
        ]
    },
    {
        "id": "171b2aa80b8bcc34",
        "type": "ui_chart",
        "z": "ca8fc5b7270e3fa1",
        "name": "Humidité TMM355",
        "group": "fc417f65bc9aa55a",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "2ac9c393d1c2ea0c",
        "type": "ui_gauge",
        "z": "ca8fc5b7270e3fa1",
        "name": "Humidité TMM355",
        "group": "d7e3d88e7d580bac",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 660,
        "wires": []
    },
    {
        "id": "032b1d758d66d12d",
        "type": "e-mail",
        "z": "ca8fc5b7270e3fa1",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "nazario.morgado@ec-lyon.fr",
        "dname": "",
        "x": 1360,
        "y": 40,
        "wires": []
    },
    {
        "id": "83c6c6007a60ac70",
        "type": "function",
        "z": "ca8fc5b7270e3fa1",
        "name": "Alerte_temp-Djamaël",
        "func": "let alerte = global.get(\"AlerteFlow\") || 1;\nglobal.set(\"AlerteFlow\", alerte);\nif ((parseInt(msg.payload)>=30)&&(alerte==1)){\n    alerte=0;\n    global.set(\"AlerteFlow\", alerte);\n    msg.topic=\"Alerte température\"\n    msg.payload=\"Attention la température dans la salle dépasse 30 degrées\"\n    return msg;\n} else if ((parseInt(msg.payload) < 30) && (alerte == 0)) {\n    alerte = 1;\n    global.set(\"AlerteFlow\", alerte);\n    msg.topic = \"Alerte température\"\n    msg.payload = \"Attention la température dans la salle est revenu a la normale\"\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "22a81279a9188065",
        "type": "function",
        "z": "ca8fc5b7270e3fa1",
        "name": "sensorType",
        "func": "const input=msg.payload;\nmsg.payload=input.sensorType\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 760,
        "wires": [
            [
                "30717589c236c036"
            ]
        ]
    },
    {
        "id": "30717589c236c036",
        "type": "ui_text",
        "z": "ca8fc5b7270e3fa1",
        "group": "fc417f65bc9aa55a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sensorType",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 760,
        "wires": []
    },
    {
        "id": "0f4b453cc6b5baf3",
        "type": "function",
        "z": "ca8fc5b7270e3fa1",
        "name": "Nom de salle",
        "func": "const input=msg.payload;\nmsg.payload=input.salle\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 840,
        "wires": [
            [
                "bf7ee95ce749e547"
            ]
        ]
    },
    {
        "id": "bf7ee95ce749e547",
        "type": "ui_text",
        "z": "ca8fc5b7270e3fa1",
        "group": "d7e3d88e7d580bac",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Nom de la salle",
        "label": "Nom de la salle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 920,
        "y": 840,
        "wires": []
    },
    {
        "id": "5df2db600a188228",
        "type": "inject",
        "z": "ca8fc5b7270e3fa1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "29",
        "payloadType": "num",
        "x": 910,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "58d975a5ce0c9b71",
        "type": "inject",
        "z": "ca8fc5b7270e3fa1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "31",
        "payloadType": "num",
        "x": 910,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "0a900a8c1ad02583",
        "type": "debug",
        "z": "ca8fc5b7270e3fa1",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 200,
        "wires": []
    },
    {
        "id": "5587fef423626953",
        "type": "function",
        "z": "ca8fc5b7270e3fa1",
        "name": "function 6",
        "func": "msg.payload = global.get(\"AlerteBool\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 100,
        "wires": [
            [
                "bbf4dbc7b2c10f52"
            ]
        ]
    },
    {
        "id": "bbf4dbc7b2c10f52",
        "type": "debug",
        "z": "ca8fc5b7270e3fa1",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 100,
        "wires": []
    },
    {
        "id": "d38246c7c54e6cb4",
        "type": "function",
        "z": "ca8fc5b7270e3fa1",
        "name": "Alerte Température",
        "func": "if ((msg.payload >= 30) && (global.get(\"AlerteBool\") == true)) {\n    global.set(\"AlerteBool\", false);\n    msg.topic = \"Alerte température\"\n    msg.payload = \"Attention la température dans la salle dépasse 30 degrées\"\n    return msg;\n}\nelse if ((msg.payload < 30) && (global.get(\"AlerteBool\") == false)) {\n    global.set(\"AlerteBool\", true);\n    msg.topic = \"Alerte température\"\n    msg.payload = \"Attention la température est revenue à la normale\"\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"AlerteBool\", true);",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 80,
        "wires": [
            [
                "5587fef423626953",
                "032b1d758d66d12d"
            ]
        ]
    }
]