Flows pi_nodered(17-05-2023).json
[
    {
        "id": "1445711a95136826",
        "type": "tab",
        "label": "Salle 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f78e5d85466c9552",
        "type": "tab",
        "label": "Salle 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c6ffb55d647ec65",
        "type": "tab",
        "label": "M5Stack MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "92bcf8d76f3e94f6",
        "type": "tab",
        "label": "Reyax with Raspberry",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac1d2ee9283df06a",
        "type": "tab",
        "label": "TMM353",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "650c34d0e19288a2",
        "type": "tab",
        "label": "TMM355",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e254f0b5d269d72d",
        "type": "tab",
        "label": "D5_bis-353",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b1ea2afc83fe838",
        "type": "tab",
        "label": "TMM353",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9984146dbfb33aa3",
        "type": "tab",
        "label": "InfluxDB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e40961b1.ad649",
        "type": "tab",
        "label": "Weather",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4a789bbe78fdd9f6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "pi_broker",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c7d6c6334933595e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8db3fac0.99dd48",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "37de8fe8.46846",
        "type": "ui_group",
        "name": "BME280",
        "tab": "53b8c8f9.cfbe48",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "53b8c8f9.cfbe48",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6a6a01fbe40bf11e",
        "type": "ui_tab",
        "name": "LoRa Gateway",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "13f01a16d359e988",
        "type": "ui_tab",
        "name": "Page 3",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "62938f1aa398bb71",
        "type": "ui_group",
        "name": "M5Stack",
        "tab": "13f01a16d359e988",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2fbc36fc2d4e361b",
        "type": "serial-port",
        "serialport": "/dev/ttyAMA0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "0ecfa9cd3556116e",
        "type": "ui_group",
        "name": "Node 1",
        "tab": "6a6a01fbe40bf11e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "069bc0e3cccfdd7c",
        "type": "ui_tab",
        "name": "Salle 353",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b2071bd26a4f4075",
        "type": "ui_group",
        "name": "BME680",
        "tab": "069bc0e3cccfdd7c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8053294be1f1e4f7",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "156.18.46.123",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "85e8d358e8e66b20",
        "type": "ui_group",
        "name": "TMM355",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "82d1223346a7fd22",
        "type": "ui_group",
        "name": "Charts TMM355",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7269bb0ae59cb308",
        "type": "ui_spacer",
        "z": "ac1d2ee9283df06a",
        "name": "spacer",
        "group": "82d1223346a7fd22",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "861d1534d006d87f",
        "type": "ui_group",
        "name": "Gauge TMM353",
        "tab": "0efbdfd9d8aa12c5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "96d7e7c3aa60f9ca",
        "type": "ui_group",
        "name": "Charts TMM353",
        "tab": "0efbdfd9d8aa12c5",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0efbdfd9d8aa12c5",
        "type": "ui_tab",
        "name": "TMM353",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d59c8dc92e78813d",
        "type": "ui_tab",
        "name": "TMM355",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "58a794c84681c539",
        "type": "ui_group",
        "name": "Gauge TMM355",
        "tab": "d59c8dc92e78813d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8c063e6f77d6358b",
        "type": "ui_group",
        "name": "Charts TMM355",
        "tab": "d59c8dc92e78813d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e02742327bb67ede",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "0efbdfd9d8aa12c5",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "909e39e6d9746c90",
        "type": "ui_tab",
        "name": "Tab 7",
        "icon": "dashboard",
        "order": 7
    },
    {
        "id": "ca5ab451e3912e17",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "909e39e6d9746c90",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "dcdcc01c5731e385",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "909e39e6d9746c90",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "6a4075fca3a3077a",
        "type": "ui_spacer",
        "z": "5b1ea2afc83fe838",
        "name": "spacer",
        "group": "82d1223346a7fd22",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "2954565ce6691dd3",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.8-flux",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "373fa459.54e07c",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "WEATHER",
        "name": "Weather",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "5c3a4e27.a99f9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.203",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5a45b8da.52b0d8",
        "type": "mqtt in",
        "z": "1445711a95136826",
        "name": "",
        "topic": "esp32/bme280/temperature",
        "qos": "1",
        "datatype": "auto",
        "broker": "8db3fac0.99dd48",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 740,
        "y": 380,
        "wires": [
            [
                "3042e15e.80a4ee",
                "d6f3a82b265529bf",
                "9f68d6c0a9768954"
            ]
        ]
    },
    {
        "id": "3042e15e.80a4ee",
        "type": "ui_gauge",
        "z": "1445711a95136826",
        "name": "",
        "group": "37de8fe8.46846",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#f7df09",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1010,
        "y": 380,
        "wires": []
    },
    {
        "id": "8ff168f0.0c74a8",
        "type": "mqtt in",
        "z": "1445711a95136826",
        "name": "",
        "topic": "esp32/bme280/humidity",
        "qos": "1",
        "datatype": "auto",
        "broker": "8db3fac0.99dd48",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 720,
        "y": 460,
        "wires": [
            [
                "29251f29.6687c"
            ]
        ]
    },
    {
        "id": "29251f29.6687c",
        "type": "ui_gauge",
        "z": "1445711a95136826",
        "name": "",
        "group": "37de8fe8.46846",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "30",
        "max": "100",
        "colors": [
            "#53a4e6",
            "#1d78a9",
            "#4e38c9"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1000,
        "y": 460,
        "wires": []
    },
    {
        "id": "681a1588.8506fc",
        "type": "mqtt in",
        "z": "1445711a95136826",
        "name": "",
        "topic": "esp32/bme280/pressure",
        "qos": "1",
        "datatype": "auto",
        "broker": "8db3fac0.99dd48",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 730,
        "y": 540,
        "wires": [
            [
                "41164c6.e7b3cb4"
            ]
        ]
    },
    {
        "id": "41164c6.e7b3cb4",
        "type": "ui_gauge",
        "z": "1445711a95136826",
        "name": "",
        "group": "37de8fe8.46846",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressure",
        "label": "hPa",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#a346ff",
            "#bd45cb",
            "#7d007d"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1000,
        "y": 540,
        "wires": []
    },
    {
        "id": "d6f3a82b265529bf",
        "type": "ui_chart",
        "z": "1445711a95136826",
        "name": "",
        "group": "37de8fe8.46846",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "938e33bd253c94b8",
        "type": "mqtt in",
        "z": "1445711a95136826",
        "name": "",
        "topic": "esp32/bme280/RSSI",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8db3fac0.99dd48",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "847d3a7db40b830b"
            ]
        ]
    },
    {
        "id": "847d3a7db40b830b",
        "type": "ui_gauge",
        "z": "1445711a95136826",
        "name": "",
        "group": "37de8fe8.46846",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "RSSI",
        "label": "dB",
        "format": "{{value}}",
        "min": "-200",
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "d877f419f6c624d7",
        "type": "e-mail",
        "z": "1445711a95136826",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "djamael.lahamion@gmail.com",
        "dname": "Alerte",
        "x": 1270,
        "y": 200,
        "wires": []
    },
    {
        "id": "9f68d6c0a9768954",
        "type": "function",
        "z": "1445711a95136826",
        "name": "Alerte_temp",
        "func": "if (parseInt(msg.payload)>=26){\n    msg.topic=\"Alerte température\"\n    msg.payload=\"Attention la température dans la salle dépasse 26 degrées\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 180,
        "wires": [
            [
                "d877f419f6c624d7"
            ]
        ]
    },
    {
        "id": "a393f07816bde8dd",
        "type": "switch",
        "z": "1445711a95136826",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "d1a541b290719efa",
        "type": "ui_text",
        "z": "f78e5d85466c9552",
        "group": "0ecfa9cd3556116e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Message du Node1 : ",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 940,
        "y": 360,
        "wires": []
    },
    {
        "id": "3ea765b35f0940be",
        "type": "mqtt in",
        "z": "f78e5d85466c9552",
        "name": "",
        "topic": "LoRa/temperature",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8db3fac0.99dd48",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 360,
        "wires": [
            [
                "d1a541b290719efa",
                "0f696c88b66a6ef8"
            ]
        ]
    },
    {
        "id": "0f696c88b66a6ef8",
        "type": "ui_gauge",
        "z": "f78e5d85466c9552",
        "name": "",
        "group": "0ecfa9cd3556116e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#f7df09",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 480,
        "wires": []
    },
    {
        "id": "1fca81057eddb73a",
        "type": "mqtt in",
        "z": "8c6ffb55d647ec65",
        "name": "",
        "topic": "M5Stack/RSSI",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8db3fac0.99dd48",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 280,
        "wires": [
            [
                "1010f4c5f0abf524"
            ]
        ]
    },
    {
        "id": "1010f4c5f0abf524",
        "type": "ui_gauge",
        "z": "8c6ffb55d647ec65",
        "name": "",
        "group": "62938f1aa398bb71",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "-100",
        "max": "+100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "b27819c315dea1d1",
        "type": "mqtt in",
        "z": "8c6ffb55d647ec65",
        "name": "",
        "topic": "M5Stack/IMU_AccX",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8db3fac0.99dd48",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "81e8babc9e8d0f2b"
            ]
        ]
    },
    {
        "id": "81e8babc9e8d0f2b",
        "type": "ui_text",
        "z": "8c6ffb55d647ec65",
        "group": "62938f1aa398bb71",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "La valeur de l'accélèromètre est :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 400,
        "wires": []
    },
    {
        "id": "af7807695fc6edda",
        "type": "mqtt in",
        "z": "8c6ffb55d647ec65",
        "name": "",
        "topic": "M5Stack/temperature",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8db3fac0.99dd48",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 500,
        "wires": [
            [
                "5c3e9548ac49fc44",
                "7c0122db58bf79c9"
            ]
        ]
    },
    {
        "id": "5c3e9548ac49fc44",
        "type": "ui_gauge",
        "z": "8c6ffb55d647ec65",
        "name": "",
        "group": "62938f1aa398bb71",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "-40",
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 792,
        "y": 490,
        "wires": []
    },
    {
        "id": "7c0122db58bf79c9",
        "type": "ui_chart",
        "z": "8c6ffb55d647ec65",
        "name": "",
        "group": "62938f1aa398bb71",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "35",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "8ce9a744e7e26db6",
        "type": "serial out",
        "z": "92bcf8d76f3e94f6",
        "name": "TX",
        "serial": "2fbc36fc2d4e361b",
        "x": 1070,
        "y": 740,
        "wires": []
    },
    {
        "id": "f71180398ea6d84d",
        "type": "inject",
        "z": "92bcf8d76f3e94f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AT+BAND=868500000",
        "payloadType": "str",
        "x": 200,
        "y": 760,
        "wires": [
            [
                "4067ae583a052ed8"
            ]
        ]
    },
    {
        "id": "8de8803371ad0279",
        "type": "debug",
        "z": "92bcf8d76f3e94f6",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "4067ae583a052ed8",
        "type": "function",
        "z": "92bcf8d76f3e94f6",
        "name": "enter",
        "func": "msg.payload=msg.payload+\"\\r\\n\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 740,
        "wires": [
            [
                "8ce9a744e7e26db6"
            ]
        ]
    },
    {
        "id": "30c3250071a2401e",
        "type": "inject",
        "z": "92bcf8d76f3e94f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AT+BAND?",
        "payloadType": "str",
        "x": 170,
        "y": 840,
        "wires": [
            [
                "4067ae583a052ed8"
            ]
        ]
    },
    {
        "id": "77e79d5c35b9fa5e",
        "type": "ui_text",
        "z": "92bcf8d76f3e94f6",
        "group": "62938f1aa398bb71",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Le message reçu en LoRa",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "5330df34d6b72b4b",
        "type": "inject",
        "z": "92bcf8d76f3e94f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AT+PARAMETER?",
        "payloadType": "str",
        "x": 190,
        "y": 940,
        "wires": [
            [
                "4067ae583a052ed8"
            ]
        ]
    },
    {
        "id": "32c5143b91df1fa4",
        "type": "inject",
        "z": "92bcf8d76f3e94f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AT+SEND=0,5,Hello",
        "payloadType": "str",
        "x": 170,
        "y": 1020,
        "wires": [
            [
                "4067ae583a052ed8"
            ]
        ]
    },
    {
        "id": "26465ad65325c378",
        "type": "inject",
        "z": "92bcf8d76f3e94f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AT+SEND?",
        "payloadType": "str",
        "x": 150,
        "y": 1100,
        "wires": [
            [
                "4067ae583a052ed8"
            ]
        ]
    },
    {
        "id": "736034500d80023a",
        "type": "comment",
        "z": "92bcf8d76f3e94f6",
        "name": "LoRa on Raspberry PI 3",
        "info": "",
        "x": 140,
        "y": 100,
        "wires": []
    },
    {
        "id": "e94a98d3c74e2e4d",
        "type": "inject",
        "z": "92bcf8d76f3e94f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AT",
        "payloadType": "str",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "4067ae583a052ed8"
            ]
        ]
    },
    {
        "id": "3cb1efd7d30ce03e",
        "type": "serial in",
        "z": "92bcf8d76f3e94f6",
        "name": "RX",
        "serial": "2fbc36fc2d4e361b",
        "x": 470,
        "y": 160,
        "wires": [
            [
                "8de8803371ad0279",
                "77e79d5c35b9fa5e",
                "543ea22185da6fe1",
                "c820819c37f8703b"
            ]
        ]
    },
    {
        "id": "e7d287433f1b4e52",
        "type": "split",
        "z": "92bcf8d76f3e94f6",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1330,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "aaa9f1fe0e65791e",
        "type": "ui_text",
        "z": "92bcf8d76f3e94f6",
        "group": "62938f1aa398bb71",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Le message reçu en LoRa (info utile) ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 360,
        "wires": []
    },
    {
        "id": "224d9828787f21ac",
        "type": "debug",
        "z": "92bcf8d76f3e94f6",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 180,
        "wires": []
    },
    {
        "id": "40e570d5cfc8e541",
        "type": "function",
        "z": "92bcf8d76f3e94f6",
        "name": "séparateur",
        "func": "const list=msg.payload.split(\",\");\nmsg.payload=list[2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 160,
        "wires": [
            [
                "224d9828787f21ac"
            ]
        ]
    },
    {
        "id": "543ea22185da6fe1",
        "type": "function",
        "z": "92bcf8d76f3e94f6",
        "name": "verification de la reception et separation du message",
        "func": "const RXREG = msg.payload.search(\"RCV\");\nconst list = msg.payload.split(\",\");\nmsg.payload = list[2];\nif(RXREG==-1){\n    \n}else{\n    msg.payload = msg.payload;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 320,
        "wires": [
            [
                "3adf4e98bb1123b8",
                "aaa9f1fe0e65791e"
            ]
        ]
    },
    {
        "id": "3adf4e98bb1123b8",
        "type": "debug",
        "z": "92bcf8d76f3e94f6",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 260,
        "wires": []
    },
    {
        "id": "369dfb7eeb37a39d",
        "type": "function",
        "z": "92bcf8d76f3e94f6",
        "name": "function 1",
        "func": "const RXREG = msg.payload.search(\"RCV\");\nconst list = msg.payload.split(\",\");\nvar counter1=flow.get(\"counter1\")||0;\nvar counter2=flow.get(\"counter2\")||0;\nvar counter3=flow.get(\"counter3\")||0;\nvar counter4=flow.get(\"counter4\")||0;\nmsg.payload = list[2];\nif (RXREG == -1) {\n\n} else {\n    switch(msg.payload){\n        case 9:\n        \n        msg.payload=counter1++;\n        break;\n        case 16:\n        msg.payload=counter2++;\n        case 3:\n        msg.payload = counter3++;\n        break;\n        case 24:\n        msg.payload = counter4++;\n        break;\n\n    }\n    return msg;\n}\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 380,
        "wires": [
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "c820819c37f8703b",
        "type": "function",
        "z": "92bcf8d76f3e94f6",
        "name": "function 2",
        "func": "const RXREG = msg.payload.search(\"RCV\");\nconst list = msg.payload.split(\",\");\nvar counter1=0;\nvar counter2=0;\nvar counter3=0;\nvar counter4=0;\nmsg.payload = list[2];\nif (RXREG == -1) {\n\n} else {\n    switch(msg.payload){\n        case \"9\":\n        counter1++;\n        break;\n        case \"16\":\n        counter2++;\n        case \"3\":\n        counter3++;\n        break;\n        case \"24\":\n        counter4++;\n        break;\n    }\n    return [counter1,counter2,counter3,counter4];\n}\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 540,
        "wires": [
            [
                "27c3f9be3ca02575"
            ],
            [
                "0a2096d1f024bdf6"
            ],
            [
                "2789f846a46182ee"
            ],
            [
                "801f33e4b924be8d"
            ]
        ]
    },
    {
        "id": "27c3f9be3ca02575",
        "type": "debug",
        "z": "92bcf8d76f3e94f6",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "0a2096d1f024bdf6",
        "type": "debug",
        "z": "92bcf8d76f3e94f6",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 560,
        "wires": []
    },
    {
        "id": "2789f846a46182ee",
        "type": "debug",
        "z": "92bcf8d76f3e94f6",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 620,
        "wires": []
    },
    {
        "id": "801f33e4b924be8d",
        "type": "debug",
        "z": "92bcf8d76f3e94f6",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 680,
        "wires": []
    },
    {
        "id": "307baf1c9b44ca4a",
        "type": "function",
        "z": "92bcf8d76f3e94f6",
        "name": "function 3",
        "func": "if(msg.payload=\"9\")\nvar counter1 = flow.get(\"counter1\") || 0\ncounter1++\nflow.set(\"counter1\", counter1)\nmsg.payload=counter1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "46d6808f0813c01f",
        "type": "mqtt in",
        "z": "ac1d2ee9283df06a",
        "name": "TMM/TMM353",
        "topic": "TMM/TMM353",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8053294be1f1e4f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 500,
        "wires": [
            [
                "cf458b214fef4091",
                "89cb85649871a5ed",
                "2cc9f2b95b9e970c",
                "90df129d61cf99ce",
                "56c191f8ac60ba71",
                "51497c96456c12dc",
                "2260169c2f467322"
            ]
        ]
    },
    {
        "id": "cf458b214fef4091",
        "type": "function",
        "z": "ac1d2ee9283df06a",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 460,
        "wires": [
            [
                "bfc78e372d471537",
                "f3ae1b860a4c08c3"
            ]
        ]
    },
    {
        "id": "89cb85649871a5ed",
        "type": "function",
        "z": "ac1d2ee9283df06a",
        "name": "Humidity",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 540,
        "wires": [
            [
                "18b212dfd0077c99",
                "0243e183dd9c14b6"
            ]
        ]
    },
    {
        "id": "2cc9f2b95b9e970c",
        "type": "function",
        "z": "ac1d2ee9283df06a",
        "name": "Pression",
        "func": "const input=msg.payload;\nmsg.payload=input.Pressure\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 620,
        "wires": [
            [
                "f94bafd4a022392f",
                "75e7d4587a3d4cb5"
            ]
        ]
    },
    {
        "id": "bfc78e372d471537",
        "type": "ui_gauge",
        "z": "ac1d2ee9283df06a",
        "name": "Température",
        "group": "861d1534d006d87f",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "18b212dfd0077c99",
        "type": "ui_gauge",
        "z": "ac1d2ee9283df06a",
        "name": "Humidité",
        "group": "861d1534d006d87f",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 520,
        "wires": []
    },
    {
        "id": "f94bafd4a022392f",
        "type": "ui_gauge",
        "z": "ac1d2ee9283df06a",
        "name": "Pression",
        "group": "861d1534d006d87f",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "90df129d61cf99ce",
        "type": "function",
        "z": "ac1d2ee9283df06a",
        "name": "RSSI",
        "func": "const input=msg.payload;\nmsg.payload=input.RSSI\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 700,
        "wires": [
            [
                "34ea8a5b4c56e3e3"
            ]
        ]
    },
    {
        "id": "34ea8a5b4c56e3e3",
        "type": "ui_text",
        "z": "ac1d2ee9283df06a",
        "group": "861d1534d006d87f",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "RSSI",
        "label": "RSSI",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 700,
        "wires": []
    },
    {
        "id": "f3ae1b860a4c08c3",
        "type": "ui_chart",
        "z": "ac1d2ee9283df06a",
        "name": "Chart Température",
        "group": "96d7e7c3aa60f9ca",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0243e183dd9c14b6",
        "type": "ui_chart",
        "z": "ac1d2ee9283df06a",
        "name": "Chart Humidité",
        "group": "96d7e7c3aa60f9ca",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "75e7d4587a3d4cb5",
        "type": "ui_chart",
        "z": "ac1d2ee9283df06a",
        "name": "Chart Pression",
        "group": "96d7e7c3aa60f9ca",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "56c191f8ac60ba71",
        "type": "debug",
        "z": "ac1d2ee9283df06a",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 300,
        "wires": []
    },
    {
        "id": "51497c96456c12dc",
        "type": "function",
        "z": "ac1d2ee9283df06a",
        "name": "Nom de salle",
        "func": "const input=msg.payload;\nmsg.payload=input.salle\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 400,
        "wires": [
            [
                "e44f9b774d4061d4"
            ]
        ]
    },
    {
        "id": "e44f9b774d4061d4",
        "type": "ui_text",
        "z": "ac1d2ee9283df06a",
        "group": "861d1534d006d87f",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Nom de la salle",
        "label": "Nom de la salle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "bd1bab7ac95fca02",
        "type": "comment",
        "z": "ac1d2ee9283df06a",
        "name": "BME680",
        "info": "",
        "x": 220,
        "y": 260,
        "wires": []
    },
    {
        "id": "2260169c2f467322",
        "type": "function",
        "z": "ac1d2ee9283df06a",
        "name": "sensorType",
        "func": "const input=msg.payload;\nmsg.payload=input.sensorType\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 340,
        "wires": [
            [
                "14f880f062648dcb"
            ]
        ]
    },
    {
        "id": "14f880f062648dcb",
        "type": "ui_text",
        "z": "ac1d2ee9283df06a",
        "group": "96d7e7c3aa60f9ca",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sensorType",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "21e58a1c18bf3366",
        "type": "mqtt in",
        "z": "650c34d0e19288a2",
        "name": "TMM/TMM355",
        "topic": "TMM/TMM355",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8053294be1f1e4f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 480,
        "wires": [
            [
                "73bdd361a12fab68",
                "52eefe1244d1441c",
                "bddf2280bf0d45b7",
                "ee098d584149d927",
                "904b6d1fdcf24fdf",
                "da3e38bcabebab68"
            ]
        ]
    },
    {
        "id": "73bdd361a12fab68",
        "type": "function",
        "z": "650c34d0e19288a2",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 440,
        "wires": [
            [
                "a2026b7488f707cf",
                "bb9f915897d5fd96"
            ]
        ]
    },
    {
        "id": "52eefe1244d1441c",
        "type": "function",
        "z": "650c34d0e19288a2",
        "name": "Pression",
        "func": "const input=msg.payload;\nmsg.payload=input.Pressure\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 600,
        "wires": [
            [
                "315c0394b9439b5f"
            ]
        ]
    },
    {
        "id": "a2026b7488f707cf",
        "type": "ui_gauge",
        "z": "650c34d0e19288a2",
        "name": "Température",
        "group": "58a794c84681c539",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 420,
        "wires": []
    },
    {
        "id": "e38596438ec40d60",
        "type": "ui_gauge",
        "z": "650c34d0e19288a2",
        "name": "Pression",
        "group": "58a794c84681c539",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 580,
        "wires": []
    },
    {
        "id": "bddf2280bf0d45b7",
        "type": "function",
        "z": "650c34d0e19288a2",
        "name": "RSSI",
        "func": "const input=msg.payload;\nmsg.payload=input.RSSI\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 680,
        "wires": [
            [
                "48168de2b0db4912"
            ]
        ]
    },
    {
        "id": "48168de2b0db4912",
        "type": "ui_text",
        "z": "650c34d0e19288a2",
        "group": "58a794c84681c539",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "RSSI",
        "label": "RSSI",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 680,
        "wires": []
    },
    {
        "id": "bb9f915897d5fd96",
        "type": "ui_chart",
        "z": "650c34d0e19288a2",
        "name": "Chart Température",
        "group": "8c063e6f77d6358b",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "0a8bdf24d7f7a7b7",
        "type": "ui_chart",
        "z": "650c34d0e19288a2",
        "name": "Chart Pression",
        "group": "8c063e6f77d6358b",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "ee098d584149d927",
        "type": "debug",
        "z": "650c34d0e19288a2",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "904b6d1fdcf24fdf",
        "type": "function",
        "z": "650c34d0e19288a2",
        "name": "Nom de salle",
        "func": "const input=msg.payload;\nmsg.payload=input.salle\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 380,
        "wires": [
            [
                "127b0689fa53f7a8"
            ]
        ]
    },
    {
        "id": "127b0689fa53f7a8",
        "type": "ui_text",
        "z": "650c34d0e19288a2",
        "group": "58a794c84681c539",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Nom de la salle",
        "label": "Nom de la salle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "a66458b0891311a6",
        "type": "calculator",
        "z": "650c34d0e19288a2",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "",
        "constant": null,
        "round": false,
        "decimals": 0,
        "x": 180,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "96b828bb5c075466",
        "type": "comment",
        "z": "650c34d0e19288a2",
        "name": "MS5611",
        "info": "",
        "x": 240,
        "y": 260,
        "wires": []
    },
    {
        "id": "315c0394b9439b5f",
        "type": "calculator",
        "z": "650c34d0e19288a2",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "100",
        "round": false,
        "decimals": 0,
        "x": 490,
        "y": 600,
        "wires": [
            [
                "e38596438ec40d60",
                "0a8bdf24d7f7a7b7"
            ]
        ]
    },
    {
        "id": "da3e38bcabebab68",
        "type": "function",
        "z": "650c34d0e19288a2",
        "name": "sensorType",
        "func": "const input=msg.payload;\nmsg.payload=input.sensorType\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 320,
        "wires": [
            [
                "ea1c21076bd6ebf8"
            ]
        ]
    },
    {
        "id": "ea1c21076bd6ebf8",
        "type": "ui_text",
        "z": "650c34d0e19288a2",
        "group": "8c063e6f77d6358b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sensorType",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 320,
        "wires": []
    },
    {
        "id": "4a8a2ab19cfd91cb",
        "type": "mqtt in",
        "z": "e254f0b5d269d72d",
        "name": "TMM-353",
        "topic": "TMM(LTDS)/353",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8053294be1f1e4f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 520,
        "wires": [
            [
                "96c0d85d456dad14",
                "ddaea825deaec749",
                "7e4366bafb272ca8",
                "991fafabb69cb222",
                "929b48f82a5cfc50",
                "e5e5710925422991",
                "c61b1712d49cd13f"
            ]
        ]
    },
    {
        "id": "96c0d85d456dad14",
        "type": "function",
        "z": "e254f0b5d269d72d",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 420,
        "wires": [
            [
                "47e4b296475aae21",
                "e7fb036b04b5cf00"
            ]
        ]
    },
    {
        "id": "ddaea825deaec749",
        "type": "function",
        "z": "e254f0b5d269d72d",
        "name": "Humidity",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 500,
        "wires": [
            [
                "ab9c3a4c73d3ce4d",
                "6f1cc0b87eedda53"
            ]
        ]
    },
    {
        "id": "7e4366bafb272ca8",
        "type": "function",
        "z": "e254f0b5d269d72d",
        "name": "Pression",
        "func": "const input=msg.payload;\nmsg.payload=input.Pressure\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 580,
        "wires": [
            [
                "f2fc277873dfa875",
                "e57f18ba725efcc0"
            ]
        ]
    },
    {
        "id": "47e4b296475aae21",
        "type": "ui_gauge",
        "z": "e254f0b5d269d72d",
        "name": "Température",
        "group": "ca5ab451e3912e17",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 400,
        "wires": []
    },
    {
        "id": "ab9c3a4c73d3ce4d",
        "type": "ui_gauge",
        "z": "e254f0b5d269d72d",
        "name": "Humidité",
        "group": "ca5ab451e3912e17",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 480,
        "wires": []
    },
    {
        "id": "f2fc277873dfa875",
        "type": "ui_gauge",
        "z": "e254f0b5d269d72d",
        "name": "Pression",
        "group": "ca5ab451e3912e17",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 560,
        "wires": []
    },
    {
        "id": "991fafabb69cb222",
        "type": "function",
        "z": "e254f0b5d269d72d",
        "name": "RSSI",
        "func": "const input=msg.payload;\nmsg.payload=input.RSSI\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 660,
        "wires": [
            [
                "78dffc7816dc8c28"
            ]
        ]
    },
    {
        "id": "78dffc7816dc8c28",
        "type": "ui_text",
        "z": "e254f0b5d269d72d",
        "group": "ca5ab451e3912e17",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "RSSI",
        "label": "RSSI",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1030,
        "y": 660,
        "wires": []
    },
    {
        "id": "e7fb036b04b5cf00",
        "type": "ui_chart",
        "z": "e254f0b5d269d72d",
        "name": "Chart Température",
        "group": "dcdcc01c5731e385",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "6f1cc0b87eedda53",
        "type": "ui_chart",
        "z": "e254f0b5d269d72d",
        "name": "Chart Humidité",
        "group": "dcdcc01c5731e385",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "e57f18ba725efcc0",
        "type": "ui_chart",
        "z": "e254f0b5d269d72d",
        "name": "Chart Pression",
        "group": "dcdcc01c5731e385",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "929b48f82a5cfc50",
        "type": "debug",
        "z": "e254f0b5d269d72d",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "e5e5710925422991",
        "type": "function",
        "z": "e254f0b5d269d72d",
        "name": "Nom de salle",
        "func": "const input=msg.payload;\nmsg.payload=input.salle\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 360,
        "wires": [
            [
                "dd03050decca047c"
            ]
        ]
    },
    {
        "id": "dd03050decca047c",
        "type": "ui_text",
        "z": "e254f0b5d269d72d",
        "group": "ca5ab451e3912e17",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Nom de la salle",
        "label": "Nom de la salle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1060,
        "y": 360,
        "wires": []
    },
    {
        "id": "24f128f55f7b37e4",
        "type": "comment",
        "z": "e254f0b5d269d72d",
        "name": "BME680",
        "info": "",
        "x": 760,
        "y": 220,
        "wires": []
    },
    {
        "id": "c61b1712d49cd13f",
        "type": "function",
        "z": "e254f0b5d269d72d",
        "name": "sensorType",
        "func": "const input=msg.payload;\nmsg.payload=input.sensorType\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 300,
        "wires": [
            [
                "c4e865064332ee95"
            ]
        ]
    },
    {
        "id": "c4e865064332ee95",
        "type": "ui_text",
        "z": "e254f0b5d269d72d",
        "group": "dcdcc01c5731e385",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sensorType",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1050,
        "y": 300,
        "wires": []
    },
    {
        "id": "541ff0f488810f2f",
        "type": "mqtt in",
        "z": "5b1ea2afc83fe838",
        "name": "TMM/TMM353",
        "topic": "TMM/TMM353",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8053294be1f1e4f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 500,
        "wires": [
            [
                "132823b462582e37",
                "d0d61de18fc76e8f",
                "5092269890ed8792",
                "e1bbc503e64efb10",
                "aaa978bb1e5f084b",
                "7ec89818458aab18",
                "95543b363cc80a12"
            ]
        ]
    },
    {
        "id": "132823b462582e37",
        "type": "function",
        "z": "5b1ea2afc83fe838",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 460,
        "wires": [
            [
                "93ae54081e84ad0f",
                "f9bbb9be365b9987"
            ]
        ]
    },
    {
        "id": "d0d61de18fc76e8f",
        "type": "function",
        "z": "5b1ea2afc83fe838",
        "name": "Humidity",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 540,
        "wires": [
            [
                "1fc4b6d713c1a3e0",
                "4fa3d981b1b1c0a3"
            ]
        ]
    },
    {
        "id": "5092269890ed8792",
        "type": "function",
        "z": "5b1ea2afc83fe838",
        "name": "Pression",
        "func": "const input=msg.payload;\nmsg.payload=input.Pressure\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 620,
        "wires": [
            [
                "6be6354637be79e5",
                "cbbb56db09f653e7"
            ]
        ]
    },
    {
        "id": "93ae54081e84ad0f",
        "type": "ui_gauge",
        "z": "5b1ea2afc83fe838",
        "name": "Température",
        "group": "861d1534d006d87f",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "1fc4b6d713c1a3e0",
        "type": "ui_gauge",
        "z": "5b1ea2afc83fe838",
        "name": "Humidité",
        "group": "861d1534d006d87f",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 520,
        "wires": []
    },
    {
        "id": "6be6354637be79e5",
        "type": "ui_gauge",
        "z": "5b1ea2afc83fe838",
        "name": "Pression",
        "group": "861d1534d006d87f",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "e1bbc503e64efb10",
        "type": "function",
        "z": "5b1ea2afc83fe838",
        "name": "RSSI",
        "func": "const input=msg.payload;\nmsg.payload=input.RSSI\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 700,
        "wires": [
            [
                "b67acec103a86705"
            ]
        ]
    },
    {
        "id": "b67acec103a86705",
        "type": "ui_text",
        "z": "5b1ea2afc83fe838",
        "group": "861d1534d006d87f",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "RSSI",
        "label": "RSSI",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 700,
        "wires": []
    },
    {
        "id": "f9bbb9be365b9987",
        "type": "ui_chart",
        "z": "5b1ea2afc83fe838",
        "name": "Chart Température",
        "group": "96d7e7c3aa60f9ca",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "4fa3d981b1b1c0a3",
        "type": "ui_chart",
        "z": "5b1ea2afc83fe838",
        "name": "Chart Humidité",
        "group": "96d7e7c3aa60f9ca",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "cbbb56db09f653e7",
        "type": "ui_chart",
        "z": "5b1ea2afc83fe838",
        "name": "Chart Pression",
        "group": "96d7e7c3aa60f9ca",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "aaa978bb1e5f084b",
        "type": "debug",
        "z": "5b1ea2afc83fe838",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 300,
        "wires": []
    },
    {
        "id": "7ec89818458aab18",
        "type": "function",
        "z": "5b1ea2afc83fe838",
        "name": "Nom de salle",
        "func": "const input=msg.payload;\nmsg.payload=input.salle\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 400,
        "wires": [
            [
                "7db7b1f7ee803196"
            ]
        ]
    },
    {
        "id": "7db7b1f7ee803196",
        "type": "ui_text",
        "z": "5b1ea2afc83fe838",
        "group": "861d1534d006d87f",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Nom de la salle",
        "label": "Nom de la salle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "9ab969db7a485fc7",
        "type": "comment",
        "z": "5b1ea2afc83fe838",
        "name": "BME680",
        "info": "",
        "x": 220,
        "y": 260,
        "wires": []
    },
    {
        "id": "95543b363cc80a12",
        "type": "function",
        "z": "5b1ea2afc83fe838",
        "name": "sensorType",
        "func": "const input=msg.payload;\nmsg.payload=input.sensorType\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 340,
        "wires": [
            [
                "89aa339c31855485"
            ]
        ]
    },
    {
        "id": "89aa339c31855485",
        "type": "ui_text",
        "z": "5b1ea2afc83fe838",
        "group": "96d7e7c3aa60f9ca",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sensorType",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "2563defdfb817bea",
        "type": "mqtt in",
        "z": "9984146dbfb33aa3",
        "name": "TMM343Bme",
        "topic": "TMM/353/BME280",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8db3fac0.99dd48",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "626be5720a63219a",
                "201ad704421d7ffa"
            ]
        ]
    },
    {
        "id": "626be5720a63219a",
        "type": "debug",
        "z": "9984146dbfb33aa3",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 440,
        "wires": []
    },
    {
        "id": "201ad704421d7ffa",
        "type": "influxdb out",
        "z": "9984146dbfb33aa3",
        "influxdb": "2954565ce6691dd3",
        "name": "",
        "measurement": "test",
        "precision": "",
        "retentionPolicy": "",
        "database": "TMM353",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "c773303.7246cd",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "Parse message",
        "func": "var msg433 = {};\nmsg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nvar parts433 = msg.payload.split(\";\");\n\nmsg433.p1 = parts433[0];\nmsg433.p2 = parts433[1];\nmsg433.name = parts433[2];\nfor (var i=3; i<parts433.length; i++) {\n    var keyvalue = parts433[i].split(\"=\");\n    if (keyvalue.length===2) {\n        msg433[keyvalue[0]] = keyvalue[1];\n    }\n}\n\nmsg.msg433 = msg433;\nmsg.topic=\"rflink\";\n\nreturn msg;\n\n/*\n\n// So firstly a generic means of getting incoming items into an object\n\nvar the433 = {};\nmsg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nnode.warn(msg.payload);\nvar parts433 = msg.payload.split(\";\");\n\nthe433.p1 = parts433[0];\nthe433.p2 = parts433[1];\nthe433.name = parts433[2];\n\nvar a = 3;\nwhile (a < parts433.length) {\n    var bits433 = parts433[a].split(\"=\");\n    switch (bits433[0]) {\n        case \"ID\": the433.id = bits433[1]; break;\n        case \"SWITCH\": the433.switch = bits433[1]; break;\n        case \"CMD\": the433.cmd = bits433[1]; break;\n        case \"SET_LEVEL\": the433.set_level = parseInt(bits433[1], 10); break;\n        case \"TEMP\": the433.temp = parseInt(bits433[1], 16) / 10; break;\n        case \"HUM\": the433.hum = parseInt(bits433[1], 10); break;\n        case \"BARO\": the433.baro = parseInt(bits433[1], 16); break;\n        case \"HSTATUS\": the433.hstatus = parseInt(bits433[1], 10); break;\n        case \"BFORECAST\": the433.bforecast = parseInt(bits433[1], 10); break;\n        case \"UV\": the433.uv = parseInt(bits433[1], 16); break;\n        case \"LUX\": the433.lux = parseInt(bits433[1], 16); break;\n        case \"BAT\": the433.bat = bits433[1]; break;\n        case \"RAIN\": the433.rain = parseInt(bits433[1], 16) / 10; break;\n        case \"RAIN\": the433.rainrate = parseInt(bits433[1], 16) / 10; break;\n        case \"WINSP\": the433.winsp = parseInt(bits433[1], 16) / 10; break;\n        case \"AWINSP\": the433.awinsp = parseInt(bits433[1], 16) / 10; break;\n        case \"WINGS\": the433.wings = parseInt(bits433[1], 16); break;\n        case \"WINDIR\": the433.windir = parseInt(bits433[1], 10); break;\n        case \"WINCHL\": the433.winchl = parseInt(bits433[1], 16); break;\n        case \"WINTMP\": the433.wintmp = parseInt(bits433[1], 16); break;\n        case \"CHIME\": the433.chime = parseInt(bits433[1], 10); break;\n        case \"SMOKEALERT\": the433.smokealert = bits433[1]; break;\n        case \"PIR\": the433.pir = bits433[1]; break;\n        case \"CO2\": the433.co2 = parseInt(bits433[1], 10); break;\n        case \"SOUND\": the433.sound = parseInt(bits433[1], 10); break;\n        case \"KWATT\": the433.kwatt = parseInt(bits433[1], 16); break;\n        case \"WATT\": the433.watt = parseInt(bits433[1], 16); break;\n        case \"CURRENT\": the433.current = parseInt(bits433[1], 10); break;\n        case \"CURRENT2\": the433.current2 = parseInt(bits433[1], 10); break;\n        case \"CURRENT3\": the433.current3 = parseInt(bits433[1], 10); break;\n        case \"DIST\": the433.dist = parseInt(bits433[1], 10); break;\n        case \"METER\": the433.meter = parseInt(bits433[1], 10); break;\n        case \"VOLT\": the433.volt = parseInt(bits433[1], 10); break;\n        case \"RGBW\": the433.rgbc = parseInt(bits433[1].substring(0, 2), 16);\n            the433.rgbw = parseInt(bits433[1].substring(2, 4), 16); break;\n    }\n    a++;\n}\n\n// SO - the above is general... here is my specific setup for temporarily displaying\n// the Acurite info\nif ((the433.p1 == \"20\") && (the433.name == \"Acurite\") && (the433.id == \"c826\")) {\n    if (typeof the433.temp !== 'undefined') temp = the433.temp;\n    if (typeof the433.hum !== 'undefined') hum = the433.hum;\n    if (typeof the433.bat !== 'undefined') bat = the433.bat;\n    if (typeof the433.rain !== 'undefined') rain = the433.rain;\n    if (typeof the433.winsp !== 'undefined') winsp = the433.winsp;\n    if (typeof the433.windir !== 'undefined') windir = the433.windir;\n\n    node.warn(\"Temperature: \" + temp + \"c\");\n    node.warn(\"Humidity: \" + hum + \"%\");\n    node.warn(\"Battery: \" + bat);\n    node.warn(\"Rain: \" + rain + \"mm\");\n    node.warn(\"Wind Speed: \" + winsp + \"km/h\");\n    node.warn(\"Wind Dir: \" + (windir * 22.5) + \" degrees\");\n}\n\n*/",
        "outputs": 1,
        "noerr": 0,
        "x": 322,
        "y": 105,
        "wires": [
            [
                "6dee95b8.6ef82c"
            ]
        ]
    },
    {
        "id": "6dee95b8.6ef82c",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "TEMP conversion",
        "func": "if (msg.msg433.TEMP!==undefined) {\n    if (parseInt(msg.msg433.TEMP, 16) >= 0x8000) {\n        msg.msg433.TEMP = (parseInt(msg.msg433.TEMP, 16) & 0x7FFF) / 10 * -1;\n    } else {\n        msg.msg433.TEMP = parseInt(msg.msg433.TEMP, 16) / 10;\n    }\n} else msg.msg433.TEMP=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.TEMP });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 329,
        "y": 178,
        "wires": [
            [
                "7afe7037.54ce3"
            ]
        ]
    },
    {
        "id": "7afe7037.54ce3",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "HUM conversion",
        "func": "if (msg.msg433.HUM!==undefined) {\n    msg.msg433.HUM = parseInt(msg.msg433.HUM, 10);\n}\nelse msg.msg433.HUM=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.HUM });\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 318,
        "y": 239,
        "wires": [
            [
                "7cb270d7.c88b1"
            ]
        ]
    },
    {
        "id": "7cb270d7.c88b1",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "ID conversion",
        "func": "if (msg.msg433.ID!==undefined) {\n    msg.msg433.ID = parseInt(msg.msg433.ID, 16);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 319,
        "y": 298,
        "wires": [
            [
                "b9ba4380.32c7"
            ]
        ]
    },
    {
        "id": "b9ba4380.32c7",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "RAIN conversion",
        "func": "var global_name = \"rainstat\";   // Name of the global variable\n\nvar rainstat = global.get(global_name);\n\n msg.msg433.RAINRATE = -999;\n\nif (msg.msg433.RAIN!==undefined) {\n    msg.msg433.RAIN = parseInt(msg.msg433.RAIN, 16) /10;\n    msg.msg433.RAINRATE = msg.msg433.RAIN - rainstat;\n    global.set(global_name,msg.msg433.RAIN);\n} else msg.msg433.RAIN=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: rainstat });\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 351,
        "wires": [
            [
                "1d9e07b2.0f0f58"
            ]
        ]
    },
    {
        "id": "1d9e07b2.0f0f58",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "WINSP conversion",
        "func": "if (msg.msg433.WINSP!==undefined) {\n    msg.msg433.WINSP = parseInt(msg.msg433.WINSP, 16) /10;\n} else msg.msg433.WINSP=0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.WINSP });\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 331,
        "y": 413,
        "wires": [
            [
                "cd3cb6d2.640358"
            ]
        ]
    },
    {
        "id": "cd3cb6d2.640358",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "WINGS conversion",
        "func": "if (msg.msg433.WINGS!==undefined) {\n    msg.msg433.WINGS  = parseInt(msg.msg433.WINGS , 16)/10;\n}\nelse msg.msg433.WINGS=0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.WINGS });\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 331,
        "y": 483,
        "wires": [
            [
                "47f9b92f.6ec698"
            ]
        ]
    },
    {
        "id": "47f9b92f.6ec698",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "WINDIR conversion",
        "func": "if (msg.msg433.WINDIR!==undefined) {\n    msg.msg433.WINDIR  = parseInt(msg.msg433.WINDIR , 10) * 22.5;\n}\nelse msg.msg433.WINDIR=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.WINDIR });\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 334,
        "y": 549,
        "wires": [
            [
                "b75fde7b.7dca"
            ]
        ]
    },
    {
        "id": "b75fde7b.7dca",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "SWITCH conversion",
        "func": "if (msg.msg433.SWITCH !==undefined) {\n    msg.msg433.SWITCH   = parseInt(msg.msg433.SWITCH  , 16);\n}\nelse msg.msg433.SWITCH=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.SWITCH });\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 342,
        "y": 616,
        "wires": [
            [
                "84795aea.3a1228"
            ]
        ]
    },
    {
        "id": "84795aea.3a1228",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "CHIME conversion",
        "func": "if (msg.msg433.CHIME  !==undefined) {\n    msg.msg433.CHIME    = parseInt(msg.msg433.CHIME   , 16);\n} else msg.msg433.CHIME=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.CHIME });\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 331,
        "y": 682,
        "wires": [
            [
                "3b4359cd.bb59b6"
            ]
        ]
    },
    {
        "id": "8dba2f7d.abaa8",
        "type": "change",
        "z": "e40961b1.ad649",
        "name": "Set Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "rflink",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 501.6328125,
        "y": 752.3046875,
        "wires": [
            [
                "508256b3.31cd68",
                "fab8599c.3ad538"
            ]
        ]
    },
    {
        "id": "508256b3.31cd68",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "Weather Station",
        "func": "msg.payload = {\n    name: msg.msg433.name,\n    temp: msg.msg433.TEMP,\n    wind: msg.msg433.WINSP,\n    gust: msg.msg433.WINGS,\n    direction: msg.msg433.WINDIR,\n    rain: msg.msg433.RAIN,\n    rainrate: msg.msg433.RAINRATE,\n    humidity: msg.msg433.HUM,\n    battery: msg.msg433.BAT\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 678,
        "y": 752,
        "wires": [
            [
                "21825ef.819c2a2"
            ]
        ]
    },
    {
        "id": "3b4359cd.bb59b6",
        "type": "function",
        "z": "e40961b1.ad649",
        "name": "BAT conversion",
        "func": "if (msg.msg433.BAT === undefined) msg.msg433.BAT=\"\";\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.BAT });\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 321,
        "y": 750,
        "wires": [
            [
                "8dba2f7d.abaa8"
            ]
        ]
    },
    {
        "id": "fe1dcc9.31ead3",
        "type": "inject",
        "z": "e40961b1.ad649",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20;02;DKW2012;ID=0043;TEMP=8010;HUM=57;WINSP=0031;WINGS=0049;RAIN=0c22;WINDIR=0004;BAT=OK;",
        "payloadType": "str",
        "x": 97,
        "y": 142,
        "wires": [
            [
                "c773303.7246cd"
            ]
        ]
    },
    {
        "id": "fab8599c.3ad538",
        "type": "debug",
        "z": "e40961b1.ad649",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 695,
        "y": 833,
        "wires": []
    },
    {
        "id": "21825ef.819c2a2",
        "type": "influxdb out",
        "z": "e40961b1.ad649",
        "influxdb": "373fa459.54e07c",
        "name": "Weather",
        "measurement": "stations",
        "precision": "s",
        "retentionPolicy": "",
        "x": 1063,
        "y": 754,
        "wires": []
    },
    {
        "id": "a8e28186.510a6",
        "type": "mqtt in",
        "z": "e40961b1.ad649",
        "name": "",
        "topic": "RFLINK_REC",
        "qos": "0",
        "broker": "5c3a4e27.a99f9",
        "inputs": 0,
        "x": 96,
        "y": 81,
        "wires": [
            [
                "c773303.7246cd",
                "f9901742.eef988"
            ]
        ]
    },
    {
        "id": "f9901742.eef988",
        "type": "debug",
        "z": "e40961b1.ad649",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 312,
        "y": 55,
        "wires": []
    }
]