Domotique/Réseau LoRa Nazario-LTDS/flows_TMM(10-06-2023).json
[
    {
        "id": "9cf7340e320f329a",
        "type": "tab",
        "label": "Chambre Jaune",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "52867f0bf0df5dfe",
        "type": "tab",
        "label": "salle à Manger",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow complet TMM",
        "disabled": false,
        "info": ""
    },
    {
        "id": "596e873fdd3c0baf",
        "type": "tab",
        "label": "TMM351",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b2d34e85d72fd723",
        "type": "tab",
        "label": "TMM352",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "816de4ba0f21ce21",
        "type": "tab",
        "label": "TMM353",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b248e25f1ba3c84",
        "type": "tab",
        "label": "TMM354",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5314979fb9eea39b",
        "type": "tab",
        "label": "TMM355",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "890e956b43029a7e",
        "type": "mqtt-broker",
        "name": "pi_broker",
        "broker": "192.168.0.49",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "18c79459cb210b95",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#ba3b5b",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#ba3b5b",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#ba3b5b",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#d27088",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#ba3b5b",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b76cd5ea609bd453",
        "type": "ui_tab",
        "name": "Salle à Manger",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4eee1586abbbf50c",
        "type": "ui_group",
        "name": "Graphe SHT31",
        "tab": "b76cd5ea609bd453",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b2d44f8c554854f",
        "type": "ui_group",
        "name": "Gauge SHT31",
        "tab": "b76cd5ea609bd453",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de7aa6706fa8d35d",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "1 rue Lino Ventura",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.0.49:8087",
        "rejectUnauthorized": true
    },
    {
        "id": "9e5a97902d555a16",
        "type": "ui_tab",
        "name": "Chambre jaune",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fb5bef2ad8b36509",
        "type": "ui_group",
        "name": "Graphe BME680",
        "tab": "9e5a97902d555a16",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8ceaa0fb7764669",
        "type": "ui_group",
        "name": "Gauge BME680",
        "tab": "9e5a97902d555a16",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8db3fac0.99dd48",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.49",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2954565ce6691dd3",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.0.49:8087",
        "rejectUnauthorized": true
    },
    {
        "id": "e3e6d81f714c85c7",
        "type": "ui_tab",
        "name": "TMM353",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false,
        "info": "Ce sont toutes les données venant du capteur SHT31 de la salle TMM353"
    },
    {
        "id": "75a171ca2f177f62",
        "type": "ui_group",
        "name": "Graphes TMM353",
        "tab": "e3e6d81f714c85c7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6e454cb5ad2e2448",
        "type": "ui_group",
        "name": "Gauges TMM353",
        "tab": "e3e6d81f714c85c7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b7f27b4aa7f479ff",
        "type": "ui_tab",
        "name": "TMM354",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f7f7c1abeeee3b74",
        "type": "ui_group",
        "name": "Graphes TMM354",
        "tab": "b7f27b4aa7f479ff",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "be6d7a11264f9174",
        "type": "ui_group",
        "name": "Gauges TMM354",
        "tab": "b7f27b4aa7f479ff",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "637d6cd7b30433b9",
        "type": "ui_tab",
        "name": "TMM355",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3e8a845d44fea67b",
        "type": "ui_group",
        "name": "Graphes TMM355",
        "tab": "637d6cd7b30433b9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f27783deab77231e",
        "type": "ui_group",
        "name": "Gauges TMM355",
        "tab": "637d6cd7b30433b9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a7fe28aec4285ce",
        "type": "ui_tab",
        "name": "TMM351",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b617fc73442de06d",
        "type": "ui_tab",
        "name": "TMM352",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9a18d952e8abfba3",
        "type": "ui_group",
        "name": "Graphes TMM351",
        "tab": "5a7fe28aec4285ce",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "364f6af7849bc5fc",
        "type": "ui_group",
        "name": "Gauges TMM351",
        "tab": "5a7fe28aec4285ce",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c3d86d1647a49ec3",
        "type": "ui_group",
        "name": "Graphes TMM352",
        "tab": "b617fc73442de06d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc86e21d6652f7d6",
        "type": "ui_group",
        "name": "Gauges TMM352",
        "tab": "b617fc73442de06d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "df3f1cae8213e585",
        "type": "mqtt in",
        "z": "9cf7340e320f329a",
        "name": "",
        "topic": "1rueLinoVentura/chambre_jaune",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "890e956b43029a7e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 480,
        "wires": [
            [
                "6e04c4feeba076db",
                "5a05de0a9b293af7",
                "a9c51494c1f2dd1b",
                "5cbd086b3ee01348",
                "209ff0a50544514c",
                "7f877818415e9ce0"
            ]
        ]
    },
    {
        "id": "f597e9c825e15f00",
        "type": "ui_chart",
        "z": "9cf7340e320f329a",
        "name": "Température Chambre Jaune",
        "group": "fb5bef2ad8b36509",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "6e04c4feeba076db",
        "type": "debug",
        "z": "9cf7340e320f329a",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "5a05de0a9b293af7",
        "type": "function",
        "z": "9cf7340e320f329a",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 480,
        "wires": [
            [
                "f597e9c825e15f00",
                "9249234c01a6dea1"
            ]
        ]
    },
    {
        "id": "a9c51494c1f2dd1b",
        "type": "function",
        "z": "9cf7340e320f329a",
        "name": "RSSI",
        "func": "const input=msg.payload;\nmsg.payload=input.RSSI\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "9249234c01a6dea1",
        "type": "ui_gauge",
        "z": "9cf7340e320f329a",
        "name": "Température Chambre Jaune",
        "group": "f8ceaa0fb7764669",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 500,
        "wires": []
    },
    {
        "id": "5cbd086b3ee01348",
        "type": "function",
        "z": "9cf7340e320f329a",
        "name": "Humidité",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 560,
        "wires": [
            [
                "848e034b6fbdc7c5",
                "ec1f66ff88207558"
            ]
        ]
    },
    {
        "id": "848e034b6fbdc7c5",
        "type": "ui_chart",
        "z": "9cf7340e320f329a",
        "name": "Humidité Chambre Jaune",
        "group": "fb5bef2ad8b36509",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "ec1f66ff88207558",
        "type": "ui_gauge",
        "z": "9cf7340e320f329a",
        "name": "Humidité Chambre Jaune",
        "group": "f8ceaa0fb7764669",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 580,
        "wires": []
    },
    {
        "id": "7f877818415e9ce0",
        "type": "influxdb out",
        "z": "9cf7340e320f329a",
        "influxdb": "de7aa6706fa8d35d",
        "name": "Chambre jaune",
        "measurement": "BME680",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "1rueLinoVentura",
        "bucket": "Chambre_Jaune",
        "x": 580,
        "y": 320,
        "wires": []
    },
    {
        "id": "854d6f2a46bc910d",
        "type": "comment",
        "z": "9cf7340e320f329a",
        "name": "Chambre jaune BME680",
        "info": "",
        "x": 290,
        "y": 120,
        "wires": []
    },
    {
        "id": "209ff0a50544514c",
        "type": "function",
        "z": "9cf7340e320f329a",
        "name": "Pression",
        "func": "const input=msg.payload;\nmsg.payload=input.Pressure\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 640,
        "wires": [
            [
                "405b255abfa48ccf",
                "37475bfbdcfa5bf8"
            ]
        ]
    },
    {
        "id": "405b255abfa48ccf",
        "type": "ui_chart",
        "z": "9cf7340e320f329a",
        "name": "Pression Salle à Manger",
        "group": "fb5bef2ad8b36509",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "37475bfbdcfa5bf8",
        "type": "ui_gauge",
        "z": "9cf7340e320f329a",
        "name": "Pression Salle à Manger",
        "group": "f8ceaa0fb7764669",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pression",
        "label": "units",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 660,
        "wires": []
    },
    {
        "id": "12fe07af4d5c2016",
        "type": "comment",
        "z": "52867f0bf0df5dfe",
        "name": "Salle à Manger SHT31",
        "info": "",
        "x": 240,
        "y": 60,
        "wires": []
    },
    {
        "id": "335cb029a2741f84",
        "type": "mqtt in",
        "z": "52867f0bf0df5dfe",
        "name": "",
        "topic": "1rueLinoVentura/Salle_Manger",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "890e956b43029a7e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 480,
        "wires": [
            [
                "69805f8d1612480a",
                "e2ec881983c9ee6b",
                "03edef5f35ab7fcd",
                "2bf1f193e4dc5947"
            ]
        ]
    },
    {
        "id": "69805f8d1612480a",
        "type": "function",
        "z": "52867f0bf0df5dfe",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 420,
        "wires": [
            [
                "de0720ac0c40d1d7",
                "4f86192a3f06ae6a"
            ]
        ]
    },
    {
        "id": "de0720ac0c40d1d7",
        "type": "ui_chart",
        "z": "52867f0bf0df5dfe",
        "name": "Temperature Salle à Manger",
        "group": "4eee1586abbbf50c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "4f86192a3f06ae6a",
        "type": "ui_gauge",
        "z": "52867f0bf0df5dfe",
        "name": "Temperature Salle à Manger",
        "group": "1b2d44f8c554854f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 460,
        "wires": []
    },
    {
        "id": "e2ec881983c9ee6b",
        "type": "function",
        "z": "52867f0bf0df5dfe",
        "name": "Humidité",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 520,
        "wires": [
            [
                "108ee377fba1d731",
                "d55d4b7ba1095314"
            ]
        ]
    },
    {
        "id": "108ee377fba1d731",
        "type": "ui_chart",
        "z": "52867f0bf0df5dfe",
        "name": "Humidité Salle à Manger",
        "group": "4eee1586abbbf50c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d55d4b7ba1095314",
        "type": "ui_gauge",
        "z": "52867f0bf0df5dfe",
        "name": "Humidité Salle à Manger",
        "group": "1b2d44f8c554854f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 560,
        "wires": []
    },
    {
        "id": "2bf1f193e4dc5947",
        "type": "influxdb out",
        "z": "52867f0bf0df5dfe",
        "influxdb": "de7aa6706fa8d35d",
        "name": "Salle à Manger",
        "measurement": "SHT31",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "1rueLinoVentura",
        "bucket": "Salle_Manger",
        "x": 440,
        "y": 320,
        "wires": []
    },
    {
        "id": "03edef5f35ab7fcd",
        "type": "function",
        "z": "52867f0bf0df5dfe",
        "name": "RSSI",
        "func": "const input=msg.payload;\nmsg.payload=input.RSSI\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "f2cd9d1426c51550",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "TMM/Salle/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8db3fac0.99dd48",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "32716dedb3b5bbf6",
                "ca9d9918e2cb71c7"
            ]
        ]
    },
    {
        "id": "b8b8578facf9d694",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "measurement",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "32716dedb3b5bbf6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 4",
        "func": "msg.measurement=msg.payload.salle;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 520,
        "wires": [
            [
                "b8b8578facf9d694",
                "14ebc63b25cd3458",
                "45d515e2a33cf056"
            ]
        ]
    },
    {
        "id": "14ebc63b25cd3458",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "2954565ce6691dd3",
        "name": "",
        "measurement": "msg.measurement",
        "precision": "",
        "retentionPolicy": "",
        "database": "Salle",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "LTDS",
        "bucket": "SallesTMM",
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "2fe3b18d1da07dbf",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Ce sont toutes les salles de TMM",
        "info": "",
        "x": 390,
        "y": 260,
        "wires": []
    },
    {
        "id": "ca9d9918e2cb71c7",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 420,
        "wires": []
    },
    {
        "id": "45d515e2a33cf056",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "measurement",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "351",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "352",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "353",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "354",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "355",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 750,
        "y": 420,
        "wires": [
            [
                "a55935be916804eb"
            ],
            [
                "42c8df4fc910d961"
            ],
            [
                "e605c60993d75ccf"
            ],
            [
                "51805e32954acb6f"
            ],
            [
                "3adb6d671a8e55dd"
            ]
        ]
    },
    {
        "id": "e605c60993d75ccf",
        "type": "link out",
        "z": "f6f2187d.f17ca8",
        "name": "Link out TMM353",
        "mode": "link",
        "links": [
            "0d400d4ab02fc7b2"
        ],
        "x": 885,
        "y": 380,
        "wires": []
    },
    {
        "id": "51805e32954acb6f",
        "type": "link out",
        "z": "f6f2187d.f17ca8",
        "name": "link out TMM354",
        "mode": "link",
        "links": [
            "ad6990a71b463211"
        ],
        "x": 885,
        "y": 420,
        "wires": []
    },
    {
        "id": "3adb6d671a8e55dd",
        "type": "link out",
        "z": "f6f2187d.f17ca8",
        "name": "link out TMM355",
        "mode": "link",
        "links": [
            "ab59ee59a069cf96"
        ],
        "x": 885,
        "y": 460,
        "wires": []
    },
    {
        "id": "a55935be916804eb",
        "type": "link out",
        "z": "f6f2187d.f17ca8",
        "name": "link out TMM351",
        "mode": "link",
        "links": [
            "2a835d3fb420862d"
        ],
        "x": 885,
        "y": 300,
        "wires": []
    },
    {
        "id": "42c8df4fc910d961",
        "type": "link out",
        "z": "f6f2187d.f17ca8",
        "name": "link out TMM352",
        "mode": "link",
        "links": [
            "8466dbfc24924c3b"
        ],
        "x": 885,
        "y": 340,
        "wires": []
    },
    {
        "id": "2a835d3fb420862d",
        "type": "link in",
        "z": "596e873fdd3c0baf",
        "name": "Link TMM351",
        "links": [
            "a55935be916804eb"
        ],
        "x": 615,
        "y": 320,
        "wires": [
            [
                "d420d530ce544da2",
                "2d91df065aae0f13",
                "85b32902cd985f80"
            ]
        ]
    },
    {
        "id": "d420d530ce544da2",
        "type": "function",
        "z": "596e873fdd3c0baf",
        "name": "Temperature TMM351",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 260,
        "wires": [
            [
                "7c9fdcb8bb5a06ee",
                "6a0e4127e06dd2cf",
                "baf65c464ffd3ee9"
            ]
        ]
    },
    {
        "id": "7c9fdcb8bb5a06ee",
        "type": "ui_chart",
        "z": "596e873fdd3c0baf",
        "name": "Température TMM351",
        "group": "9a18d952e8abfba3",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6a0e4127e06dd2cf",
        "type": "ui_gauge",
        "z": "596e873fdd3c0baf",
        "name": "Température TMM351",
        "group": "364f6af7849bc5fc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1160,
        "y": 280,
        "wires": []
    },
    {
        "id": "2d91df065aae0f13",
        "type": "function",
        "z": "596e873fdd3c0baf",
        "name": "Humidité TMM351",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 380,
        "wires": [
            [
                "8b5a798aba3929ed",
                "7028c950f973299e"
            ]
        ]
    },
    {
        "id": "8b5a798aba3929ed",
        "type": "ui_chart",
        "z": "596e873fdd3c0baf",
        "name": "Humidité TMM351",
        "group": "9a18d952e8abfba3",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "7028c950f973299e",
        "type": "ui_gauge",
        "z": "596e873fdd3c0baf",
        "name": "Humidité TMM351",
        "group": "364f6af7849bc5fc",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 400,
        "wires": []
    },
    {
        "id": "baf65c464ffd3ee9",
        "type": "switch",
        "z": "596e873fdd3c0baf",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "85b32902cd985f80",
        "type": "debug",
        "z": "596e873fdd3c0baf",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "8466dbfc24924c3b",
        "type": "link in",
        "z": "b2d34e85d72fd723",
        "name": "Link TMM352",
        "links": [
            "42c8df4fc910d961"
        ],
        "x": 615,
        "y": 360,
        "wires": [
            [
                "a2286ae65e18be71",
                "1b5041845183584f"
            ]
        ]
    },
    {
        "id": "a2286ae65e18be71",
        "type": "function",
        "z": "b2d34e85d72fd723",
        "name": "Temperature TMM352",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 300,
        "wires": [
            [
                "be3b4f1595e69a73",
                "1acab39052a10f32",
                "f4ef6ba6aa8bd8d3"
            ]
        ]
    },
    {
        "id": "be3b4f1595e69a73",
        "type": "ui_gauge",
        "z": "b2d34e85d72fd723",
        "name": "Température TMM352",
        "group": "cc86e21d6652f7d6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1160,
        "y": 320,
        "wires": []
    },
    {
        "id": "1b5041845183584f",
        "type": "function",
        "z": "b2d34e85d72fd723",
        "name": "Humidité TMM352",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 420,
        "wires": [
            [
                "86ad37428d2f378a",
                "1bf1f0dc2925dfb9"
            ]
        ]
    },
    {
        "id": "86ad37428d2f378a",
        "type": "ui_chart",
        "z": "b2d34e85d72fd723",
        "name": "Humidité TMM352",
        "group": "c3d86d1647a49ec3",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "1bf1f0dc2925dfb9",
        "type": "ui_gauge",
        "z": "b2d34e85d72fd723",
        "name": "Humidité TMM352",
        "group": "cc86e21d6652f7d6",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 440,
        "wires": []
    },
    {
        "id": "1acab39052a10f32",
        "type": "switch",
        "z": "b2d34e85d72fd723",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f4ef6ba6aa8bd8d3",
        "type": "ui_chart",
        "z": "b2d34e85d72fd723",
        "name": "Température TMM352",
        "group": "c3d86d1647a49ec3",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "0d400d4ab02fc7b2",
        "type": "link in",
        "z": "816de4ba0f21ce21",
        "name": "Link TMM353",
        "links": [
            "e605c60993d75ccf"
        ],
        "x": 575,
        "y": 240,
        "wires": [
            [
                "a9184653a42adae9",
                "f966a822441e6485"
            ]
        ]
    },
    {
        "id": "a9184653a42adae9",
        "type": "function",
        "z": "816de4ba0f21ce21",
        "name": "Temperature TMM353",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 180,
        "wires": [
            [
                "11937baccdfd38da",
                "1f34234ba953d07f",
                "53b668cf29dc33f5"
            ]
        ]
    },
    {
        "id": "11937baccdfd38da",
        "type": "ui_chart",
        "z": "816de4ba0f21ce21",
        "name": "Température TMM353",
        "group": "75a171ca2f177f62",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1f34234ba953d07f",
        "type": "ui_gauge",
        "z": "816de4ba0f21ce21",
        "name": "Température TMM353",
        "group": "6e454cb5ad2e2448",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 200,
        "wires": []
    },
    {
        "id": "f966a822441e6485",
        "type": "function",
        "z": "816de4ba0f21ce21",
        "name": "Humidité TMM353",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 300,
        "wires": [
            [
                "a1112a8a7687e170",
                "29113ef28c86daf6"
            ]
        ]
    },
    {
        "id": "a1112a8a7687e170",
        "type": "ui_chart",
        "z": "816de4ba0f21ce21",
        "name": "Humidité TMM353",
        "group": "75a171ca2f177f62",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "29113ef28c86daf6",
        "type": "ui_gauge",
        "z": "816de4ba0f21ce21",
        "name": "Humidité TMM353",
        "group": "6e454cb5ad2e2448",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 320,
        "wires": []
    },
    {
        "id": "53b668cf29dc33f5",
        "type": "switch",
        "z": "816de4ba0f21ce21",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 970,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ad6990a71b463211",
        "type": "link in",
        "z": "0b248e25f1ba3c84",
        "name": "Link TMM354",
        "links": [
            "51805e32954acb6f"
        ],
        "x": 605,
        "y": 320,
        "wires": [
            [
                "48acea428ae59535",
                "222a61aabc539f13"
            ]
        ]
    },
    {
        "id": "48acea428ae59535",
        "type": "function",
        "z": "0b248e25f1ba3c84",
        "name": "Temperature TMM354",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 260,
        "wires": [
            [
                "1d2c56b60c959b94",
                "222e2b8ebc5e765a"
            ]
        ]
    },
    {
        "id": "1d2c56b60c959b94",
        "type": "ui_chart",
        "z": "0b248e25f1ba3c84",
        "name": "Température TMM354",
        "group": "f7f7c1abeeee3b74",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1130,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "222e2b8ebc5e765a",
        "type": "ui_gauge",
        "z": "0b248e25f1ba3c84",
        "name": "Température TMM354",
        "group": "be6d7a11264f9174",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 280,
        "wires": []
    },
    {
        "id": "222a61aabc539f13",
        "type": "function",
        "z": "0b248e25f1ba3c84",
        "name": "Humidité TMM354",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 380,
        "wires": [
            [
                "e50201c4729f226d",
                "1c92cca23b19e6b8"
            ]
        ]
    },
    {
        "id": "e50201c4729f226d",
        "type": "ui_chart",
        "z": "0b248e25f1ba3c84",
        "name": "Humidité TMM354",
        "group": "f7f7c1abeeee3b74",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "1c92cca23b19e6b8",
        "type": "ui_gauge",
        "z": "0b248e25f1ba3c84",
        "name": "Humidité TMM354",
        "group": "be6d7a11264f9174",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 400,
        "wires": []
    },
    {
        "id": "ab59ee59a069cf96",
        "type": "link in",
        "z": "5314979fb9eea39b",
        "name": "Link TMM355",
        "links": [
            "3adb6d671a8e55dd"
        ],
        "x": 625,
        "y": 320,
        "wires": [
            [
                "3ef1055b1ed15764",
                "f01d1cb13a798a31"
            ]
        ]
    },
    {
        "id": "3ef1055b1ed15764",
        "type": "function",
        "z": "5314979fb9eea39b",
        "name": "Temperature TMM355",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 260,
        "wires": [
            [
                "2b8f6799c57da00b",
                "50c4eeea48fcd27f",
                "cb1b0eb9a8512d48"
            ]
        ]
    },
    {
        "id": "2b8f6799c57da00b",
        "type": "ui_chart",
        "z": "5314979fb9eea39b",
        "name": "Température TMM355",
        "group": "3e8a845d44fea67b",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "50c4eeea48fcd27f",
        "type": "ui_gauge",
        "z": "5314979fb9eea39b",
        "name": "Température TMM355",
        "group": "f27783deab77231e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1170,
        "y": 280,
        "wires": []
    },
    {
        "id": "f01d1cb13a798a31",
        "type": "function",
        "z": "5314979fb9eea39b",
        "name": "Humidité TMM355",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 380,
        "wires": [
            [
                "a0d8f0139cf612a7",
                "94ca69d12a8ce86e"
            ]
        ]
    },
    {
        "id": "a0d8f0139cf612a7",
        "type": "ui_chart",
        "z": "5314979fb9eea39b",
        "name": "Humidité TMM355",
        "group": "3e8a845d44fea67b",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "94ca69d12a8ce86e",
        "type": "ui_gauge",
        "z": "5314979fb9eea39b",
        "name": "Humidité TMM355",
        "group": "f27783deab77231e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1160,
        "y": 400,
        "wires": []
    },
    {
        "id": "cb1b0eb9a8512d48",
        "type": "switch",
        "z": "5314979fb9eea39b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 160,
        "wires": [
            [
                "722dd27f9719dd38"
            ]
        ]
    },
    {
        "id": "722dd27f9719dd38",
        "type": "debug",
        "z": "5314979fb9eea39b",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "{\t    \"payload\":\"attention température TMM355 supérieure à 30°C\"\t}",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 160,
        "wires": []
    }
]