Domotique/flows_1rueLinoVentura.json
[
    {
        "id": "9cf7340e320f329a",
        "type": "tab",
        "label": "Chambre Jaune",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "52867f0bf0df5dfe",
        "type": "tab",
        "label": "salle à Manger",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "890e956b43029a7e",
        "type": "mqtt-broker",
        "name": "pi_broker",
        "broker": "192.168.0.49",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "18c79459cb210b95",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b76cd5ea609bd453",
        "type": "ui_tab",
        "name": "Salle à Manger",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4eee1586abbbf50c",
        "type": "ui_group",
        "name": "Graphe SHT31",
        "tab": "b76cd5ea609bd453",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b2d44f8c554854f",
        "type": "ui_group",
        "name": "Gauge SHT31",
        "tab": "b76cd5ea609bd453",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de7aa6706fa8d35d",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "1 rue Lino Ventura",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.0.49:8087",
        "rejectUnauthorized": true
    },
    {
        "id": "9e5a97902d555a16",
        "type": "ui_tab",
        "name": "Chambre jaune",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fb5bef2ad8b36509",
        "type": "ui_group",
        "name": "Graphe BME680",
        "tab": "9e5a97902d555a16",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8ceaa0fb7764669",
        "type": "ui_group",
        "name": "Gauge BME680",
        "tab": "9e5a97902d555a16",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "df3f1cae8213e585",
        "type": "mqtt in",
        "z": "9cf7340e320f329a",
        "name": "",
        "topic": "1rueLinoVentura/chambre_jaune",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "890e956b43029a7e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 480,
        "wires": [
            [
                "6e04c4feeba076db",
                "5a05de0a9b293af7",
                "a9c51494c1f2dd1b",
                "5cbd086b3ee01348",
                "209ff0a50544514c",
                "7f877818415e9ce0"
            ]
        ]
    },
    {
        "id": "f597e9c825e15f00",
        "type": "ui_chart",
        "z": "9cf7340e320f329a",
        "name": "Température Chambre Jaune",
        "group": "fb5bef2ad8b36509",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "6e04c4feeba076db",
        "type": "debug",
        "z": "9cf7340e320f329a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "5a05de0a9b293af7",
        "type": "function",
        "z": "9cf7340e320f329a",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 480,
        "wires": [
            [
                "f597e9c825e15f00",
                "9249234c01a6dea1"
            ]
        ]
    },
    {
        "id": "a9c51494c1f2dd1b",
        "type": "function",
        "z": "9cf7340e320f329a",
        "name": "RSSI",
        "func": "const input=msg.payload;\nmsg.payload=input.RSSI\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "9249234c01a6dea1",
        "type": "ui_gauge",
        "z": "9cf7340e320f329a",
        "name": "Température Chambre Jaune",
        "group": "f8ceaa0fb7764669",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 500,
        "wires": []
    },
    {
        "id": "5cbd086b3ee01348",
        "type": "function",
        "z": "9cf7340e320f329a",
        "name": "Humidité",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 560,
        "wires": [
            [
                "848e034b6fbdc7c5",
                "ec1f66ff88207558"
            ]
        ]
    },
    {
        "id": "848e034b6fbdc7c5",
        "type": "ui_chart",
        "z": "9cf7340e320f329a",
        "name": "Humidité Chambre Jaune",
        "group": "fb5bef2ad8b36509",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "ec1f66ff88207558",
        "type": "ui_gauge",
        "z": "9cf7340e320f329a",
        "name": "Humidité Chambre Jaune",
        "group": "f8ceaa0fb7764669",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 580,
        "wires": []
    },
    {
        "id": "7f877818415e9ce0",
        "type": "influxdb out",
        "z": "9cf7340e320f329a",
        "influxdb": "de7aa6706fa8d35d",
        "name": "Chambre jaune",
        "measurement": "BME680",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "1rueLinoVentura",
        "bucket": "Chambre_Jaune",
        "x": 580,
        "y": 320,
        "wires": []
    },
    {
        "id": "854d6f2a46bc910d",
        "type": "comment",
        "z": "9cf7340e320f329a",
        "name": "Chambre jaune BME680",
        "info": "",
        "x": 290,
        "y": 120,
        "wires": []
    },
    {
        "id": "209ff0a50544514c",
        "type": "function",
        "z": "9cf7340e320f329a",
        "name": "Pression",
        "func": "const input=msg.payload;\nmsg.payload=input.Pressure\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 640,
        "wires": [
            [
                "405b255abfa48ccf",
                "37475bfbdcfa5bf8"
            ]
        ]
    },
    {
        "id": "405b255abfa48ccf",
        "type": "ui_chart",
        "z": "9cf7340e320f329a",
        "name": "Pression Salle à Manger",
        "group": "fb5bef2ad8b36509",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "37475bfbdcfa5bf8",
        "type": "ui_gauge",
        "z": "9cf7340e320f329a",
        "name": "Pression Salle à Manger",
        "group": "f8ceaa0fb7764669",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pression",
        "label": "units",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 660,
        "wires": []
    },
    {
        "id": "12fe07af4d5c2016",
        "type": "comment",
        "z": "52867f0bf0df5dfe",
        "name": "Salle à Manger SHT31",
        "info": "",
        "x": 240,
        "y": 60,
        "wires": []
    },
    {
        "id": "335cb029a2741f84",
        "type": "mqtt in",
        "z": "52867f0bf0df5dfe",
        "name": "",
        "topic": "1rueLinoVentura/Salle_Manger",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "890e956b43029a7e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 480,
        "wires": [
            [
                "69805f8d1612480a",
                "e2ec881983c9ee6b",
                "03edef5f35ab7fcd",
                "2bf1f193e4dc5947"
            ]
        ]
    },
    {
        "id": "69805f8d1612480a",
        "type": "function",
        "z": "52867f0bf0df5dfe",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 420,
        "wires": [
            [
                "de0720ac0c40d1d7",
                "4f86192a3f06ae6a"
            ]
        ]
    },
    {
        "id": "de0720ac0c40d1d7",
        "type": "ui_chart",
        "z": "52867f0bf0df5dfe",
        "name": "Temperature Salle à Manger",
        "group": "4eee1586abbbf50c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "4f86192a3f06ae6a",
        "type": "ui_gauge",
        "z": "52867f0bf0df5dfe",
        "name": "Temperature Salle à Manger",
        "group": "1b2d44f8c554854f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 460,
        "wires": []
    },
    {
        "id": "e2ec881983c9ee6b",
        "type": "function",
        "z": "52867f0bf0df5dfe",
        "name": "Humidité",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 520,
        "wires": [
            [
                "108ee377fba1d731",
                "d55d4b7ba1095314"
            ]
        ]
    },
    {
        "id": "108ee377fba1d731",
        "type": "ui_chart",
        "z": "52867f0bf0df5dfe",
        "name": "Humidité Salle à Manger",
        "group": "4eee1586abbbf50c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d55d4b7ba1095314",
        "type": "ui_gauge",
        "z": "52867f0bf0df5dfe",
        "name": "Humidité Salle à Manger",
        "group": "1b2d44f8c554854f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 560,
        "wires": []
    },
    {
        "id": "2bf1f193e4dc5947",
        "type": "influxdb out",
        "z": "52867f0bf0df5dfe",
        "influxdb": "de7aa6706fa8d35d",
        "name": "Salle à Manger",
        "measurement": "SHT31",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "1rueLinoVentura",
        "bucket": "Salle_Manger",
        "x": 440,
        "y": 320,
        "wires": []
    },
    {
        "id": "03edef5f35ab7fcd",
        "type": "function",
        "z": "52867f0bf0df5dfe",
        "name": "RSSI",
        "func": "const input=msg.payload;\nmsg.payload=input.RSSI\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 720,
        "wires": [
            []
        ]
    }
]