Domotique/MQTT/flows_pi_SFA(31-05-2023).json
[
    {
        "id": "9cf7340e320f329a",
        "type": "tab",
        "label": "TMM038",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3a630e5fa882af9b",
        "type": "tab",
        "label": "TMM040",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "52867f0bf0df5dfe",
        "type": "tab",
        "label": "TMM044",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "890e956b43029a7e",
        "type": "mqtt-broker",
        "name": "pi_broker",
        "broker": "156.18.46.123",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b086e9d065780f64",
        "type": "ui_tab",
        "name": "Salle SFA2 TMM040",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "18c79459cb210b95",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cf07bd0c93eb0b7b",
        "type": "ui_group",
        "name": "Graphe MS5611",
        "tab": "b086e9d065780f64",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b76cd5ea609bd453",
        "type": "ui_tab",
        "name": "Salle ATLAS TMM044",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4eee1586abbbf50c",
        "type": "ui_group",
        "name": "Graphe BME680",
        "tab": "b76cd5ea609bd453",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b2d44f8c554854f",
        "type": "ui_group",
        "name": "Gauge BME680",
        "tab": "b76cd5ea609bd453",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a68e8ea2c3713b91",
        "type": "ui_group",
        "name": "Gauge MS5611",
        "tab": "b086e9d065780f64",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de7aa6706fa8d35d",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Salle blanche DB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://156.18.46.123:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "9e5a97902d555a16",
        "type": "ui_tab",
        "name": "Salle prépa TMM038",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fb5bef2ad8b36509",
        "type": "ui_group",
        "name": "Graphe SHT31",
        "tab": "9e5a97902d555a16",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8ceaa0fb7764669",
        "type": "ui_group",
        "name": "Gauge SHT31",
        "tab": "9e5a97902d555a16",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8db3fac0.99dd48",
        "type": "mqtt-broker",
        "name": "",
        "broker": "156.18.46.123",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2954565ce6691dd3",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://156.18.46.123:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "df3f1cae8213e585",
        "type": "mqtt in",
        "z": "9cf7340e320f329a",
        "name": "",
        "topic": "TMM/TMM038",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "890e956b43029a7e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 480,
        "wires": [
            [
                "6e04c4feeba076db",
                "5a05de0a9b293af7",
                "a9c51494c1f2dd1b",
                "5cbd086b3ee01348",
                "7f877818415e9ce0"
            ]
        ]
    },
    {
        "id": "f597e9c825e15f00",
        "type": "ui_chart",
        "z": "9cf7340e320f329a",
        "name": "Température Prépa ATLAS",
        "group": "fb5bef2ad8b36509",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "8000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "6e04c4feeba076db",
        "type": "debug",
        "z": "9cf7340e320f329a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "5a05de0a9b293af7",
        "type": "function",
        "z": "9cf7340e320f329a",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 500,
        "wires": [
            [
                "f597e9c825e15f00",
                "9249234c01a6dea1"
            ]
        ]
    },
    {
        "id": "a9c51494c1f2dd1b",
        "type": "function",
        "z": "9cf7340e320f329a",
        "name": "RSSI",
        "func": "const input=msg.payload;\nmsg.payload=input.RSSI\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "9249234c01a6dea1",
        "type": "ui_gauge",
        "z": "9cf7340e320f329a",
        "name": "Température Prépa ATLAS",
        "group": "f8ceaa0fb7764669",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 520,
        "wires": []
    },
    {
        "id": "5cbd086b3ee01348",
        "type": "function",
        "z": "9cf7340e320f329a",
        "name": "Humidité",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 580,
        "wires": [
            [
                "848e034b6fbdc7c5",
                "ec1f66ff88207558"
            ]
        ]
    },
    {
        "id": "848e034b6fbdc7c5",
        "type": "ui_chart",
        "z": "9cf7340e320f329a",
        "name": "Humidité Prépa ATLAS",
        "group": "fb5bef2ad8b36509",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "ec1f66ff88207558",
        "type": "ui_gauge",
        "z": "9cf7340e320f329a",
        "name": "Humidité Prépa ATLAS",
        "group": "f8ceaa0fb7764669",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 600,
        "wires": []
    },
    {
        "id": "7f877818415e9ce0",
        "type": "influxdb out",
        "z": "9cf7340e320f329a",
        "influxdb": "de7aa6706fa8d35d",
        "name": "TMM038 Prépa ATLAS",
        "measurement": "SHT31",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "TMM038",
        "bucket": "TMM038 Salle prépa",
        "x": 400,
        "y": 340,
        "wires": []
    },
    {
        "id": "854d6f2a46bc910d",
        "type": "comment",
        "z": "9cf7340e320f329a",
        "name": "Salle Prépa",
        "info": "",
        "x": 250,
        "y": 120,
        "wires": []
    },
    {
        "id": "d9962538877d3296",
        "type": "mqtt in",
        "z": "3a630e5fa882af9b",
        "name": "",
        "topic": "TMM/TMM040",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "890e956b43029a7e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 420,
        "wires": [
            [
                "1bde9eb30ea748df",
                "cf458b214fef4091",
                "2bf76bf19bef6e87",
                "a92a098377fa545f",
                "45d9e86ee8ea865e"
            ]
        ]
    },
    {
        "id": "27030a2fadadf3ae",
        "type": "ui_chart",
        "z": "3a630e5fa882af9b",
        "name": "Température Prépa ATLAS",
        "group": "cf07bd0c93eb0b7b",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "1bde9eb30ea748df",
        "type": "debug",
        "z": "3a630e5fa882af9b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 400,
        "wires": []
    },
    {
        "id": "cf458b214fef4091",
        "type": "function",
        "z": "3a630e5fa882af9b",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 500,
        "wires": [
            [
                "27030a2fadadf3ae",
                "9ca5402c6bc179de"
            ]
        ]
    },
    {
        "id": "2bf76bf19bef6e87",
        "type": "function",
        "z": "3a630e5fa882af9b",
        "name": "RSSI",
        "func": "const input=msg.payload;\nmsg.payload=input.RSSI\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "e321ae7a346fda63",
        "type": "comment",
        "z": "3a630e5fa882af9b",
        "name": "Salle SFA2 ms5611",
        "info": "",
        "x": 230,
        "y": 60,
        "wires": []
    },
    {
        "id": "9ca5402c6bc179de",
        "type": "ui_gauge",
        "z": "3a630e5fa882af9b",
        "name": "Température Prépa ATLAS",
        "group": "a68e8ea2c3713b91",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "a92a098377fa545f",
        "type": "function",
        "z": "3a630e5fa882af9b",
        "name": "Pression",
        "func": "const input=msg.payload;\nmsg.payload=input.Pressure/100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 580,
        "wires": [
            [
                "e3fac32fc66b46b9",
                "288fdd9da0265f45"
            ]
        ]
    },
    {
        "id": "e3fac32fc66b46b9",
        "type": "ui_chart",
        "z": "3a630e5fa882af9b",
        "name": "Pression Prépa ATLAS",
        "group": "cf07bd0c93eb0b7b",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "288fdd9da0265f45",
        "type": "ui_gauge",
        "z": "3a630e5fa882af9b",
        "name": "Pression Prépa ATLAS",
        "group": "a68e8ea2c3713b91",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pression",
        "label": "units",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 600,
        "wires": []
    },
    {
        "id": "45d9e86ee8ea865e",
        "type": "influxdb out",
        "z": "3a630e5fa882af9b",
        "influxdb": "de7aa6706fa8d35d",
        "name": "TMM040 SFA2",
        "measurement": "MS5611",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "TMM038",
        "bucket": "TMM040 SFA2",
        "x": 340,
        "y": 340,
        "wires": []
    },
    {
        "id": "12fe07af4d5c2016",
        "type": "comment",
        "z": "52867f0bf0df5dfe",
        "name": "C'est la pièce ATLAS bme680",
        "info": "",
        "x": 260,
        "y": 60,
        "wires": []
    },
    {
        "id": "335cb029a2741f84",
        "type": "mqtt in",
        "z": "52867f0bf0df5dfe",
        "name": "",
        "topic": "TMM/TMM044",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "890e956b43029a7e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 420,
        "wires": [
            [
                "69805f8d1612480a",
                "e2ec881983c9ee6b",
                "918f8448d7e49b94",
                "2bf1f193e4dc5947",
                "03edef5f35ab7fcd"
            ]
        ]
    },
    {
        "id": "69805f8d1612480a",
        "type": "function",
        "z": "52867f0bf0df5dfe",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 420,
        "wires": [
            [
                "de0720ac0c40d1d7",
                "4f86192a3f06ae6a"
            ]
        ]
    },
    {
        "id": "de0720ac0c40d1d7",
        "type": "ui_chart",
        "z": "52867f0bf0df5dfe",
        "name": "Temperature Salle ATLAS",
        "group": "4eee1586abbbf50c",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "4f86192a3f06ae6a",
        "type": "ui_gauge",
        "z": "52867f0bf0df5dfe",
        "name": "Temperature salle ATLAS",
        "group": "1b2d44f8c554854f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "e2ec881983c9ee6b",
        "type": "function",
        "z": "52867f0bf0df5dfe",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 520,
        "wires": [
            [
                "108ee377fba1d731",
                "d55d4b7ba1095314"
            ]
        ]
    },
    {
        "id": "108ee377fba1d731",
        "type": "ui_chart",
        "z": "52867f0bf0df5dfe",
        "name": "Humidité Salle ATLAS",
        "group": "4eee1586abbbf50c",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d55d4b7ba1095314",
        "type": "ui_gauge",
        "z": "52867f0bf0df5dfe",
        "name": "Humidité salle ATLAS",
        "group": "1b2d44f8c554854f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 560,
        "wires": []
    },
    {
        "id": "918f8448d7e49b94",
        "type": "function",
        "z": "52867f0bf0df5dfe",
        "name": "Temperature",
        "func": "const input=msg.payload;\nmsg.payload=input.Pressure\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 620,
        "wires": [
            [
                "405b255abfa48ccf",
                "37475bfbdcfa5bf8"
            ]
        ]
    },
    {
        "id": "405b255abfa48ccf",
        "type": "ui_chart",
        "z": "52867f0bf0df5dfe",
        "name": "Pression Salle ATLAS",
        "group": "4eee1586abbbf50c",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Pression",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "37475bfbdcfa5bf8",
        "type": "ui_gauge",
        "z": "52867f0bf0df5dfe",
        "name": "Pression salle ATLAS",
        "group": "1b2d44f8c554854f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pression",
        "label": "units",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 660,
        "wires": []
    },
    {
        "id": "2bf1f193e4dc5947",
        "type": "influxdb out",
        "z": "52867f0bf0df5dfe",
        "influxdb": "de7aa6706fa8d35d",
        "name": "",
        "measurement": "BME680",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "TMM038",
        "bucket": "TMM044 salle blanche ATLAS",
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "03edef5f35ab7fcd",
        "type": "function",
        "z": "52867f0bf0df5dfe",
        "name": "RSSI",
        "func": "const input=msg.payload;\nmsg.payload=input.RSSI\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "f2cd9d1426c51550",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "TMM/Node1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "890e956b43029a7e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 520,
        "wires": [
            [
                "32716dedb3b5bbf6"
            ]
        ]
    },
    {
        "id": "b8b8578facf9d694",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 520,
        "wires": []
    },
    {
        "id": "32716dedb3b5bbf6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 4",
        "func": "msg.measurement=msg.payload.numNode;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 520,
        "wires": [
            [
                "b8b8578facf9d694",
                "14ebc63b25cd3458"
            ]
        ]
    },
    {
        "id": "14ebc63b25cd3458",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "de7aa6706fa8d35d",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "Salle",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "TMM038",
        "bucket": "Salle353",
        "x": 1030,
        "y": 660,
        "wires": []
    }
]